{extend name="public/common"}{/extend} {block name="body"}
<main class="main">
  <!--TYPO3SEARCH_begin-->
  <div class="container"></div>
  <div id="c28219" class="frame frame-default frame-type-avMATE ELECTRCAL_pagehero frame-layout-0  ">
    <div class="hero__wrapper">
      <div class="">
        <div class="hero hero--contentposition-image">
          <div class="hero__contentwrapper">
            <div class="hero__headline-wrapper  contentmask__paddingcontainer">
              <div class="hero__headline">
                <h1 class="text-center headline--xl">
                  联系我们
                </h1>
              </div>
              <div class="hero__overimage"></div>
            </div><img class="hero__image img-responsive" src="/assets/original/images/csm_herowelle-wasser_bd88d71af7.jpg" width="1920" height="267" alt=""></div>
        </div>
      </div>
    </div>
    <script>
      jQuery('body').addClass('backendlayout-pagets__followup--hero');
    </script>
  </div>
  <div class="container">
    <div id="c16847" class="frame frame-default frame-type-list frame-layout-0 frame-space-after-medium frame--headline-typography  ">
      <div class="tx-powermail">
        <!--TYPO3SEARCH_end-->
        <form data-parsley-validate="data-parsley-validate" data-validate="html5" enctype="multipart/form-data" name="field" class="powermail_form powermail_form_288   " action="/zh/contact/contact-us/?tx_powermail_pi1%5Baction%5D=create&amp;tx_powermail_pi1%5Bcontroller%5D=Form&amp;cHash=6e0a59d9baf3ac0aba965e9d24d8197d#c16847"
          method="post" novalidate="">
          <div>
            <input type="hidden" name="tx_powermail_pi1[__referrer][@extension]" value="Powermail">
            <input type="hidden" name="tx_powermail_pi1[__referrer][@vendor]" value="In2code">
            <input type="hidden" name="tx_powermail_pi1[__referrer][@controller]" value="Form">
            <input type="hidden" name="tx_powermail_pi1[__referrer][@action]" value="form">
            <input type="hidden" name="tx_powermail_pi1[__referrer][arguments]" value="">
            <input type="hidden" name="tx_powermail_pi1[__referrer][@request]" value="">
            <input type="hidden" name="tx_powermail_pi1[__trustedProperties]" value="">
          </div>


          <input class="powermail_form_uid" type="hidden" name="tx_powermail_pi1[mail][form]" value="288">

          <div style="margin-left: -99999px; position: absolute;">
            <label for="powermail_hp_288">
Don't fill this field!
</label>
            <input autocomplete="off" id="powermail_hp_288" type="text" name="tx_powermail_pi1[field][__hp]" value="" class="hasTransition">
          </div>

        </form>



        <!--TYPO3SEARCH_begin-->

      </div>
    </div>
  </div>
  <!--TYPO3SEARCH_end-->
</main>
{/block}