<div class="results results--wv menu__container menu__container--list">
    <div class="menubox__wrapper">
      <div class="menubox result result--wv">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 col-icon">
          <div class="icon"></div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-11 col-info">
          <div class="result__kicker menubox__tagline">相关分公司</div>
          <div class="result__title menubox__headline headline--h4">MATE ELECTRICAL Wash-up Technologies Ltd.
            <br>Torch High-Tech Industrial
            <br>Development Zone

          </div>
          <div class="result__info">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <address>
      
          
No. 2, Jingye Road
<br>
528437 ZHONGSHAN, GUANGDONG<br>

电话号码: +86 760 8531 7590<br>
传真号码: +86 760 8531 4217<br>

        
    </address>
                <div class="show__map__wrapper">
                  <span class="show__map link hidden-xs">
        

距离:

0,00 km



      </span>
                  <span class="show__map visible-xs">
          

距离:

0,00 km



        </span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="dealerlink">

                  <a class="link" href="http://www.MATE ELECTRICAL.de/zh/our-company/die-MATE ELECTRICAL-gruppe/the-MATE ELECTRICAL-group/MATE ELECTRICAL-wash-up-technologies-ltd/">阅读更多</a>

                </div>


                <div class="homepage">
                  <a class="link" target="_blank" href="http://www.MATE ELECTRICALchina.com/">www.MATE ELECTRICALchina.com</a>
                </div>


                <div class="email">
                  <a class="link" href="mailto:info@MATE ELECTRICALchina.com">info@MATE ELECTRICALchina.com</a>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>