{extend name="public/common"}{/extend} {block name="body"}
  <!-- main -->
  <main class="main">
    <!--TYPO3SEARCH_begin-->
    <div class="container"></div>
    <div id="c26872" class="frame frame-default frame-type-avmeiko_pagehero frame-layout-0  ">
      <div class="hero__wrapper">
        <div class="">
          <div class="hero hero--contentposition-image">
            <div class="hero__contentwrapper">
              <div class="hero__headline-wrapper  contentmask__paddingcontainer">
                <div class="hero__headline">
                  <h1 class="text-center headline--xl">
                    清洗和消毒
                  </h1>
                </div>
                <div class="hero__overimage"></div>
              </div><img class="hero__image img-responsive" src="/assets/original/images/csm_Erde_1_d572952107.jpg" width="1920" height="450" alt=""></div>
          </div>
        </div>
      </div>
      <script>
        jQuery('body').addClass('backendlayout-pagets__followup--hero');
      </script>
    </div>
    <div class="container">
      <div id="c9044" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-xs-12">
            <header>
              <h2 class=" headline--h2">
                医疗清洗消毒设备日常维护
              </h2>
            </header>
            <div class="ce-textpic  ce-right ce-intext clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" title="service-routineueberpruefung" alt="Service Routineueberpruefung" src="/assets/original/images/csm_service-routineueberpruefung_95fd0acef4.png" width="300" height="231">
                      <figcaption class="image-caption">
                        Service Routineüberprüfung bei MEIKO
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>维护与定期维修：MEIKO服务确保遵循相关法律法规及制造商规定的所有工作已充分执行并达到相关标准要求。若您对我们的设备和服务有更高期望或需求，我们会据此与您详细协商，努力提供相应的服务。充分发挥我们的专业技能为您提供优质的服务！MEIKO服务团队致力于为您排除医疗产品清洗消毒的后顾之忧。通过定期培训相关授权服务人员，配备专业齐全的维修工具及装备，以此持续满足您的最终要求，为您提供最好的安全保障。<br><br>使用《MEIKO设备维护一览表》保存完整记录：为安全起见，MEIKO建议设备每年、或每运行5000次消毒程序后至少进行一次完整的保养维护。每次的保养包括相关法律要求的所有维护项目。《MEIKO设备维护一览表》中详细列明了：必须检查的部件、需要更换的部件、以及MEIKO清洗消毒设备必须测试的功能。<br><br>通过热记录的方式检验设备的消毒性能：根据罗伯特科赫研究所起草的关于医疗产品卫生要求的建议，应定期评估用于对医疗产品进行消毒的设备的性能及消毒效果。德国当地卫生局要求每年至少检验一次医疗产品清洗设备的消毒性能。MEIKO服务可据此为您完成相应的检验，并可提供MEIKO证明，确认您的MEIKO清洗消毒设备正按照高标准运行，且其消毒效果完全符合相关法律法规所规定的标准。目前，一般通过观察A0值等物理参数的方式来确认消毒设备是否符合相关标准规定。<br>授权MEIKO服务可确保您的设备于可控成本内顺畅运行，并使洗涤设备尽可能超出预期寿命，为您带来更久的便利。MEIKO可根据您的需求，为您提供相应的定制化服务包：</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c9045" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-xs-12">
            <div class="ce-textpic  ce-left ce-intext clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" title="service-check" alt="Service Check MEIKO" src="/assets/original/images/csm_service-check_d3838058e9.png" width="150" height="225">
                      <figcaption class="image-caption">
                        Service Check von MEIKO
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>按制造商的要求，从一般性的日常维护到全套服务<br><br>MEIKO技术专家提供培训，帮您实现通过M-Commander 进行远程判断<br><br>如果您以前未使用过我们的全套服务包也没有关系，我们可提供更新您的MEIKO TopLine设备服务，甚至可为您额外提供一年的设备保修期。<br>我们以MEIKO品牌的名誉担保，请您相信MEIKO服务所积累的数十年经验，以及与MEIKO的合作伙伴良好关系，选择MEIKO服务。<br><br>MEIKO服务的附属细则清晰、易读、条理分明。<br><br>所有MEIKO服务协议均不包括下列情形：<br></p>
                  <ul>
                    <li>故意损坏或不当操作造成的故障。 </li>
                    <li>供水水质未能达标。</li>
                    <li>使用非MEIKO原厂机器零件。</li>
                    <li>使用不合适的化学品或误用化学品。</li>
                    <li>存在含铁金属（生锈）。</li>
                    <li>断电、停水或不可抗力造成的故障。</li>
                    <li>连接的非MEIKO设备（水处理装置、计量设备）造成的故障。</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c9046" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-xs-12">
            <div class="ce-textpic  ce-right ce-intext clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" title="service-invision" alt="Service Invision" src="/assets/original/images/csm_service-invision_c35279d522.png" width="150" height="285">
                      <figcaption class="image-caption">
                        Service Invision MEIKO
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>授权MEIKO服务可确保您的设备于可控成本内顺畅运行，并使洗涤设备尽可能超出预期寿命，为您带来更久的便利。MEIKO可根据您的需求，为您提供相应的定制化服务包：</p>
                  <ul>
                    <li>&nbsp;按制造商的要求，从一般性的日常维护到全套服务</li>
                    <li>&nbsp;MEIKO技术专家提供培训，帮您实现通过M-Commander 进行远程判断</li>
                  </ul>
                  <p><br>如果您以前未使用过我们的全套服务包也没有关系，我们可提供更新您的MEIKO TopLine设备服务，甚至可为您额外提供一年的设备保修期。<br><br>我们以MEIKO品牌的名誉担保，请您相信MEIKO服务所积累的数十年经验，以及与MEIKO的合作伙伴良好关系，选择MEIKO服务。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--TYPO3SEARCH_end-->
  </main>
{/block}