{extend name="public/common"}{/extend} {block name="body"}
<!-- main -->
<main class="main">
  <!--TYPO3SEARCH_begin-->
  <div class="container"></div>
  <div id="c87199" class="frame frame-default frame-type-avMATE ELECTRICAL_pagehero frame-layout-indent_medium frame-space-after-small  ">
    <div class="hero__wrapper">
      <div class="">
        <div class="hero hero--contentposition-imagecompact">
          <div class="hero__contentwrapper">
            <div class="hero__headline-wrapper container contentmask__paddingcontainer">
              <div class="hero__headline">
                <h1 class="text-center headline--xl">
                  客户和访问者隐私政策
                </h1>
              </div>
              <div class="hero__overimage">
                <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                    <div class="hero__subheader">
                      <h2 class="text-center headline--h2">
                        根据 GDPR 通用数据保护条例第 13、14 和 21 条的规定
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div><img class="hero__image img-responsive" src="/assets/original/images/herowelle-wasser.jpg" width="1440" height="200" alt="Wasser Welle" title="Wasserwelle"></div>
        </div>
      </div>
    </div>
    <script>
      jQuery('body').addClass('backendlayout-pagets__followup--hero');
    </script>
  </div>
  <div class="container">
    <div id="c87200" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
      <div class="row">
        <div class="col-xs-12">
          <div class="ce-textpic  ce-center ce-above clearfix">
            <div class="ce-bodytext">
              <div class="rte__content">
                <p>我们非常重视隐私保护。以下内容将帮助您了解，我们如何使用您的信息以及您拥有哪些权利</p>
                <h4>1.<strong></strong>处理信息的责任方以及您可以向谁寻求帮助？</h4>
                <p>广东省佛山市顺德区北滘珠江大道15号 <br> 电话：188 2040 0023<br> 电子邮箱：a2987787787@163.com<br> 官方网站：<a href="http://www.shujuxz.com/" target="_blank">www.shujuxz.com</a></p>
                <p>&nbsp;</p>
                <h4>2. 数据保护专员的联系方式</h4>
                <p>Christoph Boser<br> 电话: 188 2040 0023<br> 电子邮箱: <a href="mailto:a2987787787@163.com">a2987787787@163.com</a></p>
                <h4>3. <strong>&nbsp;</strong>使用目的和法律依据</h4>
                <p>依据通用数据保护条例 (GDPR)、联邦数据保护法 (BDSG) 和其他相关隐私保护条例的规定对您的个人信息加以处理。个人信息的处理和使用取决于已达成一致的或已申请的服务项目。</p>
                <h5>3.1 <strong>&nbsp;&nbsp;</strong>同意（GDPR 第 6 条第 1 款 a 项）</h5>
                <p>如果您已同意授权我们处理您的个人信息，相关的同意授权则是此处所述信息处理的法律依据。您可以随时撤销同意授权，停止其在未来发生效力。</p>
                <h5>3.2 履行合同义务（GDPR 第 6 条第 1 款 b 项）</h5>
                <p>我们处理您的个人信息，用于履行与您签订的合同和协议。此外，处理您的个人信息便于实施合同范围内的措施和活动。</p>
                <h5>3.3 履行法律义务（GDPR 第 6 条第 1 款 c 项）</h5>
                <p>如若因履行法律义务（例如商业法、税法）所需，我们会处理您的个人信息。如有必要，我们还将在应税法要求履行查税和报税义务时和以隐私保护和数据安全为目的的信息存档时以及应税务和其他部门的检查要求时，使用您的个人信息。另外，可能因收集证据、刑事起诉或执行民事索赔所需，在符合官方/法律措施的前提下，披露您的个人信息。</p>
                <h5>3.4 我们或第三方的合法权益（GDPR 第 6 条第 1 款 f 项）</h5>
                <p>我们还可能基于利益均衡原则，为了捍卫我们或第三方的合法权益而使用您的个人信息。这样做的目的基于以下几点：</p>
                <ul>
                  <li>检查和优化程序，以便分析需求并直接与客户建立对话</li>
                  <li>在您未阻止利用您信息的情况下，进行商业推广或市场分析。</li>
                  <li>因存储的方式特殊而无法删除或因删除的成本投入过大时，而限制您个人信息的存储。</li>
                  <li>为持续开发服务项目和产品以及现有的系统和过程。</li>
                  <li>为统计评估或市场分析。</li>
                  <li>为执行外部和内部调查和/或安全检查。</li>
                  <li>为了认证私法或官方事务</li>
                </ul>
                <h4>4. 由我们处理的个人信息的类别</h4>
                <p>处理以下类别的信息：</p>
                <ul>
                  <li>个人信息（姓名、生日、职业/行业和类似信息）</li>
                  <li>联系方式（地址、邮箱地址、电话号码和类似信息）</li>
                  <li>客户历史纪录</li>
                </ul>
                <p>此外，我们还处理公共来源（例如：网络、媒体、新闻）的个人信息</p>
                <h4>5. 谁获取了您的个人信息？</h4>
                <p>我们在我们的企业内部将您的个人信息转交给需要这些信息来履行合同和法律义务或实施我们合法权益的部门。</p>
                <p>此外，以下机构也可能获取您的信息：</p>
                <ul>
                  <li>我们委托的承包商（GDPR 第 28 条）、支持此类活动的服务供应商和符合 GDPR 的其他负责方，特别是 IT 服务、物流、快递、印刷服务、外部数据中心、IT 应用的支持和维护、归档、文件处理、财务和管理、数据销毁、采购/购置、客户管理、信件分发、市场营销、电话服务、网页管理、税务咨询、审计服务、信贷机构等领域</li>
                  <li>持有法律和行政义务的公共单位和机构，我们有义务向其提供信息、通知或披露数据</li>
                  <li>其他获得您同意授权向其传输数据的单位。</li>
                </ul>
                <h4>6. <strong>&nbsp;</strong>向第三国或国际组织传输您的个人信息</h4>
                <p>在欧盟或欧共体以外处理数据。</p>
                <h4>7. 我们需要保存您的信息多长时间？</h4>
                <p>视情况需要，我们在与您建立商业关系的整个期间处理您的个人信息，这包括合同的启动与执行。 .</p>
                <p>此外我们还受到商法典 (HGB) 和税法 (AO) 中各种有关保管和归档义务的约束。这里规定的保管和归档期限最长为商业关系或草案合同法律关系结束后的十年。</p>
                <p>最终，存储期也根据法律时效期来判断，例如：按照民法典 (BGB) 195 条的规定通常为三年，在某些情况下也可能为三十年。</p>
                <h4>8. 在个案中将自动判定为何种程度？<strong></strong></h4>
                <p>根据 GDPR 第 22 节的规定，我们不使用纯粹的自动判定程序。如果法律要求我们在个案中使用这种程序，我们将单独告知您。</p>
                <h4>9. 您的隐私权</h4>
                <p>您的权利包括，GDPR 第 15 条规定的咨询权、GDPR 第 16 条规定的获悉权、GDPR 第 17 条规定的删除权、GDPR 第 18 条规定的限制处理权以及 GDPR 第 20 条规定的数据转移权。此外还有向数据保护监管机构提出投诉的权利（GDPR 第 77 条）。根据 GDPR 第 21 条的规定，原则上反对我们处理个人信息的权利。但是，这项反对权仅适用于您个人情况非常特殊的情形，即我们公司的权利可能与您的反对权相冲突。如果您想行使这项权利，请联系我们的数据保护专员
                  (<a href="mailto:a2987787787@163.com">a2987787787@163.com</a>)</p>
                <h4>10. <strong>&nbsp;</strong>您有义务向我们提供您的信息</h4>
                <p>您只需提供用于同我们建立和履行商业关系或草案合同关系所需的信息或我们因法律义务需要收集的信息。没有这些信息，我们通常无法完成或履行合同。这也可能涉及到商业关系中将来所需的信息。如果我们在此基础上要求您提供信息，在您自愿提供的情况下，我们将单独向您说明。</p>
                <h4>11. GDPR 第 21 条中有关您反对权的说明</h4>
                <p>根据 GDPR 第 6 条第 1 段的规定（基于利益均衡的数据处理），您有权随时反对处理您的个人信息或根据 GDPR 第 6 条第 1 段 e 项的规定（符合公共利益的数据处理），如果您因特殊情况有合理理由，可提出反对。这也适用于 GDPR 第 4 条第 4 款中该项法规所支持的分析。</p>
                <p>如果您提出反对，我们将不再处理您的个人信息，除非我们能提供强制性的法律依据，证明数据处理优先于您的权益、权利和自由，或者数据处理的目的是为了主张、行使或捍卫合法权利。必要时，我们也使用您的个人隐私信息用于推广直接广告。如果您不希望收到这些广告，您有权随时提出反对。我们将在此后遵从您提出的反对。</p>
                <p>如果您反对以推广直接广告的目的使用您的信息，我们将不再使用您的信息用于此类目的。您可以向第 1 项中所列的地址提出反对，没有格式要求。</p>
                <h4>12. 您有向主管监管机构提出投诉的权利</h4>
                <p>您有向数据保护监管机构提出投诉的权利（GDPR 第 77 条）。</p>
                <p>我们的主管监管机构为：</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--TYPO3SEARCH_end-->
</main>
{/block}