{extend name="public/common"}{/extend} {block name="body"}
  <!-- main -->
  <main class="main">
    <!--TYPO3SEARCH_begin-->
    <div class="container"></div>
    <div id="c28228" class="frame frame-default frame-type-avMATE ELECTRICAL_pagehero frame-layout-0  ">
      <div class="hero__wrapper">
        <div class="">
          <div class="hero hero--contentposition-image">
            <div class="hero__contentwrapper">
              <div class="hero__headline-wrapper  contentmask__paddingcontainer">
                <div class="hero__headline">
                  <h1 class="text-center headline--xl">
                    关于MATE ELECTRICAL的一切疑问，您都可以从这里得到答案！
                  </h1>
                </div>
                <div class="hero__overimage"></div>
              </div><img title="迈特洗碗机，商用洗碗机 洗碗机租赁" alt="迈特洗碗机，商用洗碗机 洗碗机租赁"class="hero__image img-responsive" src="/assets/original/images/csm_Tasse_Service_583de18aaa.jpg" width="1920" height="450" alt=""></div>
          </div>
        </div>
      </div>
      <script>
        jQuery('body').addClass('backendlayout-pagets__followup--hero');
      </script>
    </div>
    <div class="container">
      <div id="c9989" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-xs-12">
            <div class="ce-textpic  ce-center ce-above clearfix">
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>´MATE ELECTRICAL服务团队汇集着各方面人才和经验丰富的工程师，能提供符合您的设备故障解决方案。请把您的咨询和需求，使用此处的联系方式联系我们。<br> 欢迎拨打迈特服务热线185 6555 3223或联系当地服务人员</p>
                  <p>迈特微信报修服务平台于2016年8月1日起正式上线，客户可通过扫菜单右边的二维码，关注“迈特MATE ELECTRICAL”微信公众号，绑定手机号，即可进行微报修，方便快捷。</p>
                  <p>&nbsp;</p>
                  
                  <p>备件服务部<br><br>MATE ELECTRICAL-专业的备件服务热线<br><br>服务热线：185 6555 3223<br><br>周一至周五：08:30-17:30<br><br>“MATE ELECTRICAL提供优质的服务，同时也能为您提供所有需要更换的设备部件！”<br><br>MATE ELECTRICAL备件服务部是一个具有强大能动性的团队，并始终以及时、准确为客户提供需更换的配件并确保客户尽快收到部件为服务宗旨。MATE ELECTRICAL备件服务部团队每一位同事都能从每一次高效的优质服务中收获乐趣。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--TYPO3SEARCH_end-->
  </main>
{/block}