{extend name="public/common"}{/extend} {block name="body"}
  <!-- main -->
  <main class="main">
    <!--TYPO3SEARCH_begin-->
    <div class="container"></div>
    <div id="c26291" class="frame frame-default frame-type-avMATE ELECTRCAL_pagehero frame-layout-0  ">
      <div class="hero__wrapper">
        <div class="">
          <div class="hero hero--contentposition-image">
            <div class="hero__contentwrapper">
              <div class="hero__headline-wrapper  contentmask__paddingcontainer">
                <div class="hero__headline">
                  <h1 class="text-center headline--xl">
                    注册 MATE ELECTRCAL 科技
                  </h1>
                </div>
                <div class="hero__overimage">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="hero__subheader">
                        <h2 class="text-center headline--h2">
                          注册 MATE ELECTRCAL 科技
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div><img class="hero__image img-responsive" src="/assets/original/images/csm_herowelle-wasser_bd88d71af7.jpg" width="1920" height="267" alt=""></div>
          </div>
        </div>
      </div>
      <script>
        jQuery('body').addClass('backendlayout-pagets__followup--hero');
      </script>
    </div>
    <div class="container">
      <div id="c21863" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-xs-12">
            <div class="ce-textpic  ce-right ce-intext clearfix">
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>我们说：我们生产的每一台设备，就算您已经拥有它很长时间了，都是也永远是我们的设备。作为打造高级品质的生产商，我们对自己的技术和清洁方案感到责无旁贷，并很愿意作为合作伙伴协助您。请将您的设备进行在线注册，并继续享受无忧洗涤： &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                  </p>
                  <p>• 通过在线注册来登记您的保修申请 &nbsp;
                  </p>
                  <p>• 您可以直接收到厂家的信息 &nbsp;（例如适配您设备的新品专用配件） &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                  </p>
                  <p>• 您可以获得第一手重要的服务方面的事态进展<span id="1487170715633S" style="display: none;">&nbsp;</span>&nbsp; &nbsp;&nbsp;
                  </p>
                  <p>&nbsp;</p>
                  <!-- <p><a href="" target="_top" class="rte-button-primary-large">这里转至注册表格</a></p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--TYPO3SEARCH_end-->
  </main>
{/block}