{extend name="public/common"}{/extend} {block name="body"}
<!-- main -->
<main class="main">
  <style>
    .imag-content img{
      width: auto;
      display: inline-block;
      max-width: 100%;
    }
    .imag-content-box{
      max-width: 860px;
      margin: 0 auto;
    }
  
  </style>
  <!--TYPO3SEARCH_begin-->
  <div class="imag-content">
    <img src="/assets/image/images/lease_01.jpg" alt="迈特 洗碗机租赁">
    <div class="imag-content-box">
      <img src="/assets/image/images/lease_03.jpg" alt="迈特 洗碗机租赁">
      <img src="/assets/image/images/lease_05.jpg" alt="迈特 洗碗机租赁">
      <img src="/assets/image/images/lease_06.jpg" alt="迈特 洗碗机租赁">
      <img src="/assets/image/images/lease_07.jpg" alt="迈特 洗碗机租赁">
      <img style="margin-bottom: 50px" src="/assets/image/images/lease_08.jpg" alt="迈特 洗碗机租赁">
    </div>
  </div>
  <!--TYPO3SEARCH_end-->
</main>
{/block}