{extend name="public/common"}{/extend} {block name="body"}
<!-- main -->
<main class="main">
  <!--TYPO3SEARCH_begin-->
  <div class="container"></div>
  <div id="c25632" class="frame frame-default frame-type-avMATE ELECTRICAL_pagehero frame-layout-indent_small  ">
    <div class="hero__wrapper">
      <div class="">
        <div class="hero hero--contentposition-image">
          <div class="hero__contentwrapper">
            <div class="hero__headline-wrapper  contentmask__paddingcontainer">
              <div class="hero__headline">
                <h1 class="text-center headline--xl">
                  迈特的洗碗机、履带式洗碗机、篮筐机、揭盖机、餐具洗涤配套产品
                </h1>
              </div>
              <div class="hero__overimage"></div>
            </div><img title="迈特洗碗机，商用洗碗机 洗碗机租赁" alt="迈特洗碗机，商用洗碗机 洗碗机租赁"class="hero__image img-responsive" src="/assets/original/images/csm_water-splash-full_0ec9a25280.jpg" width="1920" height="452" alt=""></div>
        </div>
      </div>
    </div>
    <script>
      jQuery('body').addClass('backendlayout-pagets__followup--hero');
    </script>
  </div>
  <div class="container">
    <div id="c247" class="frame frame-default frame-type-textmedia frame-layout-indent_small frame-space-after-medium frame--headline-typography  ">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="ce-textpic  ce-center ce-below clearfix">
            <div class="ce-bodytext">
              <div class="rte__content">
                <p>从简单的玻璃器洗涤器到完全自动化的大型餐具洗涤系统：迈特为餐具的光亮清洁奠定了标准 - 无需人手再擦拭或抛光。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="c25541" class="frame frame-default frame-type-menu_subpages frame-layout-0 frame-space-after-small  ">
      <div class="menu__container menu__container--list menu__container--list-tiles">
        {volist name="list" id="data"}
          <div class="menubox__wrapper">
            <a title="迈特洗碗机，商用洗碗机 洗碗机租赁" class="menubox  menubox--with-indicator " href="{$data['linkto']}">
              <div class="menubox__image"><img title="迈特洗碗机，商用洗碗机 洗碗机租赁" alt="迈特洗碗机，商用洗碗机 洗碗机租赁"class="load__on__scroll load__on__scroll--loaded" src="{$data['path']}" data-src="{$data['path']}"
                  width="600" height="600" alt=""></div>
              
              <div class="menubox__contentwrapper">
                <div class="menubox__textwrapper">
                  <div class="menubox__headline headline--h4">{$data['name']}</div>
                  <div class="menubox__content">{$data['doc']}
                  </div><span class="link menubox__fakelink"> 显示产品 </span>
                </div>
              </div>
            </a>
          </div>
        {/volist}
      </div>
    </div>
  </div>
  <!--TYPO3SEARCH_end-->
</main>
{/block}