{extend name="public/common"}{/extend} {block name="body"}
<!-- main -->
<main class="main">
  <!--TYPO3SEARCH_begin-->
  <div class="container"></div>
  <div id="c25632" class="frame frame-default frame-type-avMATE ELECTRCAL_pagehero frame-layout-indent_small  ">
    <div class="hero__wrapper">
      <div class="">
        <div class="hero hero--contentposition-image">
          <div class="hero__contentwrapper">
            <div class="hero__headline-wrapper  contentmask__paddingcontainer">
              <div class="hero__headline">
                <h1 class="text-center headline--xl">
                  迈特的洗碗机、玻璃器皿洗涤机、餐具洗涤配套产品
                </h1>
              </div>
              <div class="hero__overimage"></div>
            </div><img class="hero__image img-responsive" src="/assets/original/images/csm_water-splash-full_0ec9a25280.jpg" width="1920" height="452" alt=""></div>
        </div>
      </div>
    </div>
    <script>
      jQuery('body').addClass('backendlayout-pagets__followup--hero');
    </script>
  </div>
  <div class="container">
    <div id="c247" class="frame frame-default frame-type-textmedia frame-layout-indent_small frame-space-after-medium frame--headline-typography  ">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="ce-textpic  ce-center ce-below clearfix">
            <div class="ce-bodytext">
              <div class="rte__content">
                <p>从简单的玻璃器洗涤器到完全自动化的大型餐具洗涤系统：迈特为餐具的光亮清洁奠定了标准 - 无需人手再擦拭或抛光。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="c25541" class="frame frame-default frame-type-menu_subpages frame-layout-0 frame-space-after-small  ">
      <div class="menu__container menu__container--list menu__container--list-tiles">
        <div class="menubox__wrapper">
          <a class="menubox  menubox--with-indicator " href="https://www.MATE ELECTRCALchina.com/zh/products/warewashing/undercounter-dishwashers/">
            <div class="menubox__image"><img class="load__on__scroll load__on__scroll--loaded" src="/assets/original/images/csm_M-iClean_UM_1_Untertischspuelmaschine_16zu9_3e4d6b2489.jpg" data-src="/assets/original/images/csm_M-iClean_UM_1_Untertischspuelmaschine_16zu9_3e4d6b2489.jpg"
                width="640" height="360" alt=""></div>
            <div class="menubox__contentwrapper">
              <div class="menubox__textwrapper">
                <div class="menubox__headline headline--h4">

                  台下式玻璃器皿和餐具洗涤机

                </div>
                <div class="menubox__content">
                  节省空间地安放在柜台下、客房内或在清洗区域内，可以说，MATE ELECTRCAL 台下清洗机能够“事半功倍”地快速完成任务。


                </div><span class="link menubox__fakelink">
      显示产品
    </span></div>
            </div>
          </a>
        </div>
        <div class="menubox__wrapper">
          <a class="menubox  menubox--with-indicator " href="https://www.MATE ELECTRCALchina.com/zh/products/warewashing/hood-type-dishwashers/">
            <div class="menubox__image"><img class="load__on__scroll load__on__scroll--loaded" src="/assets/original/images/csm_UPster-H500_01_Haubenspuelmaschine_16zu9_4d5c1c51ec.jpg" data-src="/assets/original/images/csm_UPster-H500_01_Haubenspuelmaschine_16zu9_4d5c1c51ec.jpg"
                width="640" height="360" alt=""></div>
            <div class="menubox__contentwrapper">
              <div class="menubox__textwrapper">
                <div class="menubox__headline headline--h4">

                  罩式玻璃器皿和餐具洗涤机

                </div>
                <div class="menubox__content">
                  从餐具到厨房器皿和容器，这款 MATE ELECTRCAL 清洗设备可轻松解决每项清洗任务。在必须快速进行清洗时，无论何种需求，揭盖式清洗机都能快速完成。


                </div><span class="link menubox__fakelink">
      显示产品
    </span></div>
            </div>
          </a>
        </div>
        <div class="menubox__wrapper">
          <a class="menubox  menubox--with-indicator " href="https://www.MATE ELECTRCALchina.com/zh/products/warewashing/universal-warewashers/">
            <div class="menubox__image"><img class="load__on__scroll load__on__scroll--loaded" src="/assets/original/images/csm_FV_250_2_4_16zu9_e7fe7a1514.jpg" data-src="/assets/original/images/csm_FV_250_2_4_16zu9_e7fe7a1514.jpg" width="640" height="360"
                alt=""></div>
            <div class="menubox__contentwrapper">
              <div class="menubox__textwrapper">
                <div class="menubox__headline headline--h4">

                  通用型洗锅机

                </div>
                <div class="menubox__content">
                  这些多用机器是 MATE ELECTRCAL 清洗设备中真正的实力派，其高效率的设计也可用于大型器具，如盆钵、平底锅、托盘、容器等等。


                </div><span class="link menubox__fakelink">
      显示产品
    </span></div>
            </div>
          </a>
        </div>
        <div class="menubox__wrapper">
          <a class="menubox  menubox--with-indicator " href="https://www.MATE ELECTRCALchina.com/zh/products/warewashing/flight-type-dishwashing-machines/">
            <div class="menubox__image"><img class="load__on__scroll load__on__scroll--loaded" src="/assets/original/images/csm_M-iQ_Bandtransport-Spuelmaschine_16zu9_f1e47bc953.jpg" data-src="/assets/original/images/csm_M-iQ_Bandtransport-Spuelmaschine_16zu9_f1e47bc953.jpg"
                width="640" height="360" alt=""></div>
            <div class="menubox__contentwrapper">
              <div class="menubox__textwrapper">
                <div class="menubox__headline headline--h4">

                  履带传送式洗碗机。

                </div>
                <div class="menubox__content">
                  M-iQ 履带式清洗机可顺畅卫生地清洗盘子、杯子和托盘。操作人性化且性能极高，使 M-iQ 颇受人们青睐。


                </div><span class="link menubox__fakelink">
      显示产品
    </span></div>
            </div>
          </a>
        </div>
        <div class="menubox__wrapper">
          <a class="menubox  menubox--with-indicator " href="https://www.MATE ELECTRCALchina.com/zh/products/warewashing/rack-type-dishwashing-machines/">
            <div class="menubox__image"><img class="load__on__scroll load__on__scroll--loaded" src="/assets/original/images/csm_M-iQ_Korbtransport-Spuelmaschine_16zu9_9354276bda.jpg" data-src="/assets/original/images/csm_M-iQ_Korbtransport-Spuelmaschine_16zu9_9354276bda.jpg"
                width="640" height="360" alt=""></div>
            <div class="menubox__contentwrapper">
              <div class="menubox__textwrapper">
                <div class="menubox__headline headline--h4">

                  篮框传送式洗碗机

                </div>
                <div class="menubox__content">
                  如果需要清洗设备承担较重的任务时，MATE ELECTRCAL 篮传式清洗机是灵活正确的选择。卫生 - 灵活 - 节约。


                </div><span class="link menubox__fakelink">
      显示产品
    </span></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--TYPO3SEARCH_end-->
</main>
{/block}