{extend name="public/common"}{/extend} {block name="body"}
  <!-- main -->
  <main class="main">
    <!--TYPO3SEARCH_begin-->
    <div class="container"></div>
    <div id="c26265" class="frame frame-default frame-type-avMATE ELECTRICAL_pagehero frame-layout-0  ">
      <div class="hero__wrapper">
        <div class="">
          <div class="hero hero--contentposition-image">
            <div class="hero__contentwrapper">
              <div class="hero__headline-wrapper  contentmask__paddingcontainer">
                <div class="hero__headline">
                  <h1 class="text-center headline--xl">
                    MATE ELECTRICAL 制造
                  </h1>
                </div>
                <div class="hero__overimage"></div>
              </div><img title="迈特洗碗机，商用洗碗机 洗碗机租赁" alt="迈特洗碗机，商用洗碗机 洗碗机租赁"class="hero__image img-responsive" src="/assets/original/images/csm_herowelle-wasser_bd88d71af7.jpg" width="1920" height="267" alt="Wasser Welle" title="Wasserwelle"></div>
          </div>
        </div>
      </div>
      <script>
        jQuery('body').addClass('backendlayout-pagets__followup--hero');
      </script>
    </div>
    <div class="container">
      <div id="c40019" class="frame frame-default frame-type-textmedia frame-layout-indent_small frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="ce-textpic  ce-right ce-intext clearfix">
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>通过餐具洗涤、清洁和消毒的创新技术让世界更洁净，这是 MATE ELECTRICAL 的愿景。这个愿景激励我们在中国广州佛山。“MATE ELECTRICAL 制造”是技术、品质和设计最高标准的典范。简而言之，这是我们对清洁和卫生永不妥协的承诺。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c40012" class="frame frame-default frame-type-menu_pages frame-layout-0 frame-space-after-medium  ">
        <div class="menu__container menu__container--list menu__container--list-tiles">
          <div class="menubox__wrapper">
            <a title="迈特洗碗机，商用洗碗机 洗碗机租赁" class="menubox  menubox--with-indicator " href="https://www.MATE ELECTRICALchina.com/zh/products/warewashing/">
              <div class="menubox__image"><img title="迈特洗碗机，商用洗碗机 洗碗机租赁" alt="迈特洗碗机，商用洗碗机 洗碗机租赁"class="load__on__scroll load__on__scroll--loaded" src="/assets/original/images/csm_UPster-H500_01_Haubenspuelmaschine_16zu9_4d5c1c51ec.jpg" data-src="/assets/original/images/csm_UPster-H500_01_Haubenspuelmaschine_16zu9_4d5c1c51ec.jpg"
                  width="640" height="360" alt=""></div>
              <div class="menubox__contentwrapper">
                <div class="menubox__textwrapper">
                  <div class="menubox__headline headline--h4">

                    餐具洗涤设备

                  </div>
                  <div class="menubox__content">
                    针对每种需求提供正确的清洗技术：从台下清洗机到直通式清洗机、多用清洗机、带式清洗机和篮传式清洗机，再到运输车清洗设备，MATE ELECTRICAL 在清洁解决方案的工艺领域内占主导地位。


                  </div><span class="link menubox__fakelink">
        显示产品
      </span></div>
              </div>
            </a>
          </div>
          <div class="menubox__wrapper">
            <a title="迈特洗碗机，商用洗碗机 洗碗机租赁" class="menubox  menubox--with-indicator " href="https://www.MATE ELECTRICALchina.com/zh/products/cleaning-disinfection/">
              <div class="menubox__image"><img title="迈特洗碗机，商用洗碗机 洗碗机租赁" alt="迈特洗碗机，商用洗碗机 洗碗机租赁"class="load__on__scroll load__on__scroll--loaded" src="/assets/original/images/csm_TopLine-10-Steckbeckenspueler_16zu9_63aa21d6e6.jpg" data-src="/assets/original/images/csm_TopLine-10-Steckbeckenspueler_16zu9_63aa21d6e6.jpg"
                  width="640" height="360" alt="fäkalienspüler TopLine"></div>
              <div class="menubox__contentwrapper">
                <div class="menubox__textwrapper">
                  <div class="menubox__headline headline--h4">

                    清洁与消毒工艺

                  </div>
                  <div class="menubox__content">
                    识别感染途径并将其切断 – 也就是说：控制及保障卫生。没有其他地方会比医院、疗养院和在处理重要的防火器材时更需要做到这一点。MATE ELECTRICAL 了解这类任务， 并能熟练协助解决这些问题。


                  </div><span class="link menubox__fakelink">
        显示产品
      </span></div>
              </div>
            </a>
          </div>
          <div class="menubox__wrapper">
            <a title="迈特洗碗机，商用洗碗机 洗碗机租赁" class="menubox  menubox--with-indicator " href="https://www.MATE ELECTRICALchina.com/zh/products/food-waste-systems/">
              <div class="menubox__image"><img title="迈特洗碗机，商用洗碗机 洗碗机租赁" alt="迈特洗碗机，商用洗碗机 洗碗机租赁"class="load__on__scroll load__on__scroll--loaded" src="/assets/original/images/csm_WasteStar_SC_2_Speiseresteentsorgung_dc9014ce31.jpg" data-src="/assets/original/images/csm_WasteStar_SC_2_Speiseresteentsorgung_dc9014ce31.jpg"
                  width="640" height="360" alt="Lebensmittelreste entsorgen WasteStar SC" title="Lebensmittelreste entsorgen"></div>
              <div class="menubox__contentwrapper">
                <div class="menubox__textwrapper">
                  <div class="menubox__headline headline--h4">

                    厨余垃圾处理系统

                  </div>
                  <div class="menubox__content">
                    如果必须将食物倾倒时 – 必须有目的系统地执行倾倒，尽可能避免浪费。MATE ELECTRICAL 厨余垃圾处理设备用于巧妙地处理食品垃圾 ， 并创造新能源。


                  </div><span class="link menubox__fakelink">
        显示产品
      </span></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!--TYPO3SEARCH_end-->
  </main>
{/block}