
      <div class="tabs tabs--contenttabs">
          <div class="row tabs__nav__holder">
            <div class="col-xs-12 col-md-6 col-md-offset-6">
              <div class="tabs__nav__wrapper">
                <ul class="tabs__nav nav" role="tablist">
                  <li role="presentation" class="active"><a href="#tab43808-291" aria-controls="tab43808-291" role="tab" data-toggle="tab">
                      产品
                    </a></li>
                  <li role="presentation" class=""><a href="#tab43808-292" aria-controls="tab43808-292" role="tab" data-toggle="tab">
                      案例研究
                    </a></li>
                  <li role="presentation" class=""><a href="#tab43808-293" aria-controls="tab43808-293" role="tab" data-toggle="tab">
                      新闻
                    </a></li>
                  <li role="presentation" class=""><a href="#tab43808-316" aria-controls="tab43808-316" role="tab" data-toggle="tab">
                      奖项
                    </a></li>
                  <li role="presentation" class=""><a href="#tab43808-469" aria-controls="tab43808-469" role="tab" data-toggle="tab">
                      MATE ELECTRCAL周年纪念日
                    </a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="tabs__tabs tab-content">
            <div role="tabpanel" class="tabs__tab tab-pane active" id="tab43808-291">
              <div class="row row__tabled--desktop">
                <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder">
                  <div class="item__media">
                    <a data-fancybox href="/assets/original/images/csm_UPster-B_01_Bandtransportspuelmaschine_5aa244dc39.jpg"><img class="owl-lazy img-responsive" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                        data-src="/assets/original/images/csm_UPster-B_01_Bandtransportspuelmaschine_66fa89476c.jpg" width="720" height="721" alt="Band Spülmaschine UPster B" title="Band Spülmaschine UPster" /></a>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 col__tabled--desktop">
                  <div class="tab__content rte__content">
                    <!--GLOSSARNOPARSE_begin-->
                    <div class="tab__content__headline headline--h2">UPster B – 精湛的餐具清洗技术</div>
                    <!--GLOSSARNOPARSE_end-->
                    <p>UPster B 是新一代餐具清洗技术的名称。为人类与环境量身打造的 UPster B 机器经济、节约且易于使用。</p>
                    <p><a href="/zh/products/warewashing/flight-type-dishwashing-machines/upster-b/">了解更多信息</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tabs__tab tab-pane " id="tab43808-292">
              <div class="row row__tabled--desktop">
                <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder">
                  <div class="item__media">
                    <a data-fancybox href="/assets/original/images/csm_Uni_Zhejiang1_1920x1280_24d7d8df2d.jpg"><img class="owl-lazy img-responsive" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                        data-src="/assets/original/images/csm_Uni_Zhejiang1_1920x1280_19314d0631.jpg" width="720" height="720" alt="" /></a>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 col__tabled--desktop">
                  <div class="tab__content rte__content">
                    <!--GLOSSARNOPARSE_begin-->
                    <div class="tab__content__headline headline--h2">浙江大学采用 30 多台 MATE ELECTRCAL 机器</div>
                    <!--GLOSSARNOPARSE_end-->
                    <p>五个校区占地面积共 4,503,741 平方米，而 MATE ELECTRCAL 的现场参与度也同样庞大。浙江大学配备有 13 台 B-Tronic 洗碗机、3 台宽频带 BA 机器、1 台 AZP 80 脱水装置、多台传送机和托盘堆垛机以及 6 台 K-Tronic 洗碗机。五个校区内的 17 个餐厅均配备有 DV80 罩式洗碗机。</p>
                    <p><a href="/zh/case-studies/canteens/zhejiang-university-hangzhou-china/">了解更多信息</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tabs__tab tab-pane " id="tab43808-293">
              <div class="row row__tabled--desktop">
                <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder">
                  <div class="item__media">
                    <a data-fancybox href="/assets/original/images/csm_MATE ELECTRCAL-CHINA-20th-Anniversary_040A5256_b7ede9c491.jpg"><img class="owl-lazy img-responsive" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                        data-src="/assets/original/images/csm_MATE ELECTRCAL-CHINA-20th-Anniversary_040A5256_125d73ff2b.jpg" width="720" height="720" alt="" /></a>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 col__tabled--desktop">
                  <div class="tab__content rte__content">
                    <!--GLOSSARNOPARSE_begin-->
                    <div class="tab__content__headline headline--h2">“MATE ELECTRCAL 制造”中国 20 周年庆典：</div>
                    <!--GLOSSARNOPARSE_end-->
                    <p>2017 年 2 月 20 日，星期一，MATE ELECTRCAL 将打开中国中山 MATE ELECTRCAL 工厂的大门，诚邀近百位来自亚太、印度和中东地区的 MATE ELECTRCAL 客户亲身体验“MATE ELECTRCAL 制造”的生产设施及产品。“MATE ELECTRCAL 制造”代表着一流的工艺、品质和设计，并能保证为餐具洗涤、清洁和消毒领域提供最清洁的解决方案和最具创新的技术。</p>
                    <p><a href="/zh/press/news/">Learn more</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tabs__tab tab-pane " id="tab43808-316">
              <div class="row row__tabled--desktop">
                <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder"></div>
                <div class="col-xs-12 col-md-6 col__tabled--desktop">
                  <div class="tab__content rte__content">
                    <!--GLOSSARNOPARSE_begin-->
                    <div class="tab__content__headline headline--h2">MATE ELECTRCAL 中国获得“十佳学校服务供应商”奖</div>
                    <!--GLOSSARNOPARSE_end-->
                    <p>最近，MATE ELECTRCAL 中国在必达亚洲组织的“最受欢迎学校合作伙伴”的公开评选活动中赢得了“十佳学校服务供应商”奖。</p>
                    <p><a href="/zh/press/news/">了解更多信息</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tabs__tab tab-pane " id="tab43808-469">
              <div class="row row__tabled--desktop">
                <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder">
                  <div class="item__media">
                    <a data-fancybox href="/assets/original/images/csm_MATE ELECTRCAL-Pressemeldung_90_years_36238fb46e.jpg"><img class="owl-lazy img-responsive" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                        data-src="/assets/original/images/csm_MATE ELECTRCAL-Pressemeldung_90_years_f77ae335d2.jpg" width="720" height="720" alt="" /></a>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6 col__tabled--desktop">
                  <div class="tab__content rte__content">
                    <!--GLOSSARNOPARSE_begin-->
                    <div class="tab__content__headline headline--h2">清洁探索历程</div>
                    <!--GLOSSARNOPARSE_end-->
                    <p><a href="http://MATE ELECTRCAL.w15l.t4n.io/cn" target="_blank" class="btn btn--primary">学到更多</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          jQuery(document).ready(function() {
            jQuery('#c43808').contentTabs();
          });
        </script>




<div class="productfinder load__on__scroll" data-default-segment="551" data-defaultbg="/assets/original/images/csm_Productfinder_74601c80d7.jpg">
  <div class="productfinder__image" style="background-image:url(/assets/original/images/csm_Productfinder_74601c80d7.jpg);"></div>
  <div class="productfinder__inner">
    <div class="productfinder__content">
      <div class="content__box">
        <form data-form>
          <div class="box__kicker">
            产品查找
          </div>
          <div class="box__attributeselect"><span class="attributeselect__text">
        适用领域 
      </span><select name="segment" class="select--slotmachine select--nosearch select--multiline" data-toggle="branche" data-theme="highlight" style="width:100%;"><option value="542">工业清洗</option><option value="543">护理业</option><option value="544">医院</option><option value="545">航空餐饮</option><option value="546">海运业务</option><option value="547">食品加工行业</option><option value="548">肉联厂</option><option value="549">篮筐式洗碗机</option><option value="550">烘干机</option><option value="551">长龙式洗碗机</option><option value="552">揭盖式洗碗机</option><option value="588">食品零售业</option><option value="589">工业清洗</option></select>
            <span class="attributeselect__text">
                                产品特点
                                </span><select class="select--nosearch select--multiline" name="property" data-all-label="所有" data-pleasechoose-label="请选择" data-theme="highlight" style="width:100%;"><option value="">请选择</option></select></div>
          <div class="box__claim">
            <p>高脚酒杯、烘焙周转箱、空客飞机上的餐盘、便盆及消防人员的呼吸调节器，它们有什么共同之处？迈特 科技能完美洗净所有物品！</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
          </div><input type="submit" value="显示" class="btn btn--invert box__button" data-trackingclass="quickfinder_element_MATE ELECTRCAL" /></form>
      </div>
      <div class="content__gallery content__gallery--empty" data-content id="43809_content_gallery"></div>
      <a class="content__gallery__fancyboxtrigger hidden" data-fancybox data-src="#43809_content_gallery" href="javascript:;"></a>
    </div>
  </div>
  <div class="productfinder__link"><a href="/zh/products/" class="link">产品</a></div>
</div>
<script>
  jQuery(document).ready(function() {
    var source = '/zh/?type=5001&tx_avMATE ELECTRCAL_productfinder%5Baction%5D=refresh&tx_avMATE ELECTRCAL_productfinder%5Bformat%5D=json';
    var contentUid = 43809;

    jQuery('#c' + contentUid).on('loaded.load_on_scroll', function() {
      jQuery('#c' + contentUid).productfinder({
        source: source,
        contentUid: contentUid
      });
    });
  });
</script>


<div class="container">
    <div id="c9224" class="frame frame-default frame-type-avMATE ELECTRCAL_news_latest frame-layout-0 frame-space-after-medium  ">
      <!--TYPO3SEARCH_end-->
      <div class="news__home load__on__scroll"></div>
      <script>
        jQuery(function() {
          var $element = jQuery('#c9224 .news__home');

          // set segment sources
          var segmentSources = {
            'default': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=31646daa13eb8b9479d35d56e48c73c1',

            '542': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=542&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=c8caee94fe395b38c69dc1257cf07529',

            '543': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=543&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=e6bf63e6e35c673c48b59dcf280b0d74',

            '544': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=544&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=be5e492ac8321ab4c44d38417d506844',

            '545': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=545&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=905afa6586224c5a3614db4015ad67bc',

            '546': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=546&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=e5c326f0ec6982b315fd6e73fe1cc0d6',

            '547': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=547&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=e8f6601245ff2d6338b1f5ff1dfe146f',

            '548': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=548&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=dc2966f19a9eaee162de2ed28b191805',

            '549': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=549&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=672aadeef5b5726eec3b5dc694a87656',

            '550': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=550&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=4a0ec40972dd56232c88a6c5b1e9d333',

            '551': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=551&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=f6db9d059ba8b34f847fdae1d2fd3d3a',

            '552': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=552&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=ca21c50cdf6e494eebccbbeb41254d9c',

            '588': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=588&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=290c05f2dea0daca7e2aa6c4201ef8f0',

            '589': '/zh/?type=5003&tx_avMATE ELECTRCAL_news_latest%5Bsegment%5D=589&tx_avMATE ELECTRCAL_news_latest%5Baction%5D=homeEntries&cHash=cdbfca67b7789decb1307ab5ee287107',

          };

          // get segment data
          var segmentSelection = 'default';

          var segmentPreselection = parseInt(AvBasics.Util.Cookie.get('segment_assignment'), 10);

          if (segmentPreselection && segmentSources[segmentPreselection] !== undefined) {
            segmentSelection = segmentPreselection;
          }

          $element.attr('data-source', segmentSelection);

          $element.on('loaded.load_on_scroll', function() {
            jQuery.get(segmentSources[segmentSelection], function(data) {
              $element.html(data);
            });
          });
        })
      </script>
      <!--TYPO3SEARCH_begin-->
    </div>
  </div>

  
  <div id="c43811" class="frame frame-default frame-type-avMATE ELECTRCAL_testimonials frame-layout-0 frame-space-after-small  ">
      <div class="testimonials load__on__scroll">
        <div class="testimonials__stage" data-enable-marketing-automation="0">
          <div class="stage__references">
            <div class="reference" style="display:none;" data-identifier="7579">
              <div class="reference__image"><img class="img-responsive" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                  data-src="/assets/original/images/csm_Hilton-Mailand_1920x1280_Teaser_2ad9457c68.jpg" width="1920" height="1080" alt="" /></div>
              <div class="hidden-xs reference__textwrapper reference__textwrapper--withlogo">
                <div class="reference__logo"><img src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                    data-src="/assets/original/images/Hilton_Worldwide_logo.svg" width="1137" height="422" alt="Logo Hilton Hotels" title="Hilton Logo" /></div>
                <div class="reference__text blockquote dotdotdot__truncate">
                  <p>就洗涤效果而言，我可以自信地说它们是非常出色的。通过该机器清洗的碗碟闪亮光洁，无任何味道残留。</p>
                </div>
                <div class="reference__author dotdotdot__truncate">
                  <p>Paolo Ghirardi，<br /> 行政总厨
                    <br /> 米兰希尔顿酒店
                  </p>
                </div>
              </div>
            </div>
            <div class="reference" style="display:none;" data-identifier="675">
              <div class="reference__image"><img class="img-responsive" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                  data-src="/assets/original/images/csm_Marienhospital-Stuttgart_Portrait_1920x1280_bdc74ac238.jpg" width="1920" height="1080" alt="Friedmann vom Marienhospital" title="Friedmann Marienhospital" /></div>
              <div class="hidden-xs reference__textwrapper reference__textwrapper--withlogo">
                <div class="reference__logo"><img src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                    data-src="/assets/original/images/Marienhospital-Stuttgart-Logo_01.svg" width="226" height="126" alt="Marienhospital Stuttgart Logo" title="Marienhospital-Stuttgart-Logo" /></div>
                <div class="reference__text blockquote dotdotdot__truncate">
                  <p>主要是它减轻了护理人员的工作，免去了携带病人用具到清洁工作间（面临卫生问题）的漫长路程。</p>
                </div>
                <div class="reference__author dotdotdot__truncate">
                  <p>Rainer Friedmann</p>
                </div>
              </div>
            </div>
            <div class="reference" style="display:none;" data-identifier="12795">
              <div class="reference__image"><img class="img-responsive" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                  data-src="/assets/original/images/csm_Scheck-In_Portrait_87deff3b50.jpg" width="1920" height="1080" alt="Didier Bentz Kochfabrik" title="Didier Bentz" /></div>
              <div class="hidden-xs reference__textwrapper reference__textwrapper--withlogo">
                <div class="reference__logo"><img src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                    data-src="/assets/original/images/Scheck-In-Center_logo.svg" width="3021" height="709" alt="" /></div>
                <div class="reference__text blockquote dotdotdot__truncate">
                  <p>很明显我们能处理更多的餐具，而在洗碗间里我们只安排了三分之一的人手</p>
                </div>
                <div class="reference__author dotdotdot__truncate">
                  <p>Didier Bentz,<br /> 库克厂长
                    <br /> 阿赫恩舍克-伊恩 (Scheck-In) 烹饪厂</p>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonials__selectorbox bluebox bluebox--small bluebox--arrow bluebox--arrow--left">
            <div class="bluebox__inner">
              <div class="selectorbox__kicker">成功案例</div>
              <div class="selectorbox__text">了解相关内容</div>
              <div class="selectorbox__select"><select class="select--multiline" data-theme="highlight" style="width:100%;"><option data-identifier="7579" data-href="/zh/case-studies/hotels/hilton-milan/" data-assigned-categories="552">米兰希尔顿酒店</option><option data-identifier="675" data-href="/zh/case-studies/hospitals/marienhospital-stuttgart/" data-assigned-categories="544">圣玛丽医院 (Marienhospital Stuttgart)，斯图加特</option><option data-identifier="12795" data-href="/zh/case-studies/restaurants/scheck-in-cooking-factory/" data-assigned-categories="551">阿赫恩舍克-伊恩 (Scheck-In) 烹饪厂</option></select></div>
              <div class="selectorbox__link"><a href="#" class="btn btn--md btn--invert">阅读更多</a></div>
            </div>
          </div>
        </div>
      </div>
      <script>
        var cUid = '43811';
  
        jQuery(function() {
          jQuery('#c' + cUid + ' .testimonials').on('loaded.load_on_scroll', function() {
            jQuery(this).testimonials();
          });
        });
      </script>
    </div>

    <!-- <div id="c43812" class="frame frame-default frame-type-avMATE ELECTRCAL_banner frame-layout-0  ">
    <div class="text-center banner banner--mode-imagebottom">
      <div class="banner__bggradient">
        <div class="banner__bgimage load__on__scroll" data-background-image="/assets/original/images/csm_clouds_b583f2fe11.png">
          <div class="banner__content__wrapper container contentmask__paddingcontainer">
            <div class="row">
              <div class="col-xs-12">
                <div class="banner__headline">
                  <h2 class=" headline--xl">
                    迈特 的创意和技术致力于让世界环境更洁净、更卫生
                  </h2>
                </div>
                <div class="col-sm-offset-1 col-sm-10 banner__content rte__content">
                  <p>云端之上的飞机、大海航行的船只、酒店、医院、消防队，我们的设备遍布全球。</p>
                </div><img class="banner__image load__on__scroll" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                  data-src="/assets/original/images/globe-top.png" width="729" height="365" alt="Worldwide MATE ELECTRCAL" title="MATE ELECTRCAL worldwide" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="c43813" class="frame frame-default frame-type-menu_pages frame-layout-0  ">
    <div class="container"></div>
    <div class="menu__container menu__container--flipbox">
      <div class="menubox__wrapper">
        <a class="menubox" href="/zh/case-studies/canteens/zhejiang-university-hangzhou-china/">
          <div class="menubox__image"><img class="load__on__scroll" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
              data-src="/assets/original/images/csm_Uni_Zhejiang_guestarea_Teaser_bbf7abfbaf.jpg" width="640" height="360" alt="" /><span class="menubox__caret"></span></div>
          <div class="menubox__contentwrapper">
            <div class="menubox__textwrapper">
              <div class="menubox__textwrapper__inner">
                <div class="menubox__hiddenoverflow">
                  <div class="menubox__headline">

                    案例……

                  </div>
                  <div class="menubox__content">

                    中国杭州市浙江大学

                  </div><span class="link menubox__fakelink">
                  详见案例资料（实例说明）
                </span></div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="menubox__wrapper">
        <a class="menubox" href="/zh/case-studies/hospitals/universitaetsklinik-innsbruck/">
          <div class="menubox__image"><img class="load__on__scroll" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
              data-src="/assets/original/images/csm_Uni-Innsbruck_Teaser_1920x1280_56a89a4046.jpg" width="640" height="360" alt="大学医院-茵斯布鲁克" title="大学医院-茵斯布鲁克" /><span class="menubox__caret"></span></div>
          <div class="menubox__contentwrapper">
            <div class="menubox__textwrapper">
              <div class="menubox__textwrapper__inner">
                <div class="menubox__hiddenoverflow">
                  <div class="menubox__headline">

                    案例……

                  </div>
                  <div class="menubox__content">

                    大学医院-茵斯布鲁克，奥地利

                  </div><span class="link menubox__fakelink">
                  详见案例资料（实例说明）
                </span></div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="menubox__wrapper">
        <a class="menubox" href="/zh/case-studies/restaurants/urban-grub-craft-brewed-360-bistro/">
          <div class="menubox__image"><img class="load__on__scroll" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
              data-src="/assets/original/images/csm_Urban-Grub-exterior_teaser_01_389153b294.jpg" width="640" height="360" alt="" /><span class="menubox__caret"></span></div>
          <div class="menubox__contentwrapper">
            <div class="menubox__textwrapper">
              <div class="menubox__textwrapper__inner">
                <div class="menubox__hiddenoverflow">
                  <div class="menubox__headline">

                    案例……

                  </div>
                  <div class="menubox__content">

                    Urban Grub, Craft Brewed, 360 Bistro

                  </div><span class="link menubox__fakelink">
                  详见案例资料（实例说明）
                </span></div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div id="c43814" class="frame frame-default frame-type-avMATE ELECTRCAL_banner frame-layout-0 frame-space-after-medium  ">
    <div class="text-center banner banner--mode-imagetop">
      <div class="banner__bggradient">
        <div class="banner__bgimage load__on__scroll" data-background-image="">
          <div class="banner__content__wrapper container contentmask__paddingcontainer">
            <div class="row">
              <div class="col-xs-12"><img class="banner__image load__on__scroll" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                  data-src="/assets/original/images/globe_bottom.png" width="729" height="365" alt="Around the world MATE ELECTRCAL" title="Around the world MATE ELECTRCAL" />
                <div class="banner__content rte__content">
                  <p>我们的追求 - 为我们全球客户缔造完美。以下案例阐述了各种不同的挑战 - 以及相应的清洁解决方案。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="c43815" class="frame frame-default frame-type-avMATE ELECTRCAL_contactbox frame-layout-0  ">
    <div class="contactbox contactbox--imagetop">
      <div class="contactbox__headline headline--xl">
        如有疑问？<br /> 我们竭力助您解决？
      </div>
      <div class="contactbox__visual">
        <div class="visual__content">
          了解更多迈特清洁解决方案信息
        </div>
        <div class="visual__image"><img class="img-responsive load__on__scroll" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
            data-src="/assets/original/images/csm_Beratungsbild_b4041fa897.jpg" width="1920" height="1080" alt="MATE ELECTRCAL Contact" title="Contact MATE ELECTRCAL" /></div>
      </div>
      <div class="contactbox__topicselection">
        <div class="container">
          <div class="bluebox bluebox--small bluebox--arrow bluebox--arrow--top">
            <div class="bluebox__inner">
              <div class="topicselection__form__wrapper">
                <form class="topicselection__form" onsubmit="window.location.href = jQuery(this).find('[data-topic-selector] option:selected').data('target'); return false;">
                  <div class="form__selection clearfix">
                    <div class="row row__tabled--desktop">
                      <div class="col-xs-12 col-sm-12 col-md-10 col__tabled--desktop">
                        <div class="form__kicker">
                          服务和联系方式
                        </div>
                        <div class="selection__title">我需要 个 </div><select class="selection__select select--multiline" data-topic-selector data-theme="highlight" style="width:100%;"><option data-segment="" data-target="/zh/contact/consultation/">人咨询</option><option data-segment="" data-target="/zh/contact/request-an-offer/">报价</option><option data-segment="" data-target="/zh/contact/request-a-call/">回电</option><option data-segment="" data-target="/zh/contact/service-queries/">服务</option><option data-segment="" data-target="/zh/contact/spare-parts-queries/">备件/附件</option><option data-segment="" data-target="/zh/contact/contact-us/">询盘</option></select></div>
                      <div class="col-xs-12 col-sm-12 col-md-2 col__tabled--desktop">
                        <div class="selection__submit"><input type="submit" class="btn btn--md btn--invert" data-trackingclass="schnellzugriff_kontakt" value="询盘" /></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      jQuery(function() {
        var $selection = jQuery('#c43815 .selection__select');

        var segmentPreselection = parseInt(AvBasics.Util.Cookie.get('segment_assignment'), 10);

        if (segmentPreselection) {
          var $option = $selection.find('option[data-segment="' + segmentPreselection + '"]');

          if ($option.length == 0) {
            return;
          }

          $selection.val($option.val()).trigger('change.select2');
        }
      });
    </script>
  </div> -->