{extend name="public/common"}{/extend} {block name="body"}
<!-- main -->
<main class="main">
  <!--TYPO3SEARCH_begin-->
  <div class="stage">
    <div id="c43804" class="frame frame-default frame-type-avMATE ELECTRICAL_slideshow frame-layout-0 frame-space-after-medium  ">
      <div class="fullscreenslider__wrapper">
        <div class="fullscreenslider__overflowshadow fullscreenslider__overflowshadow--left"></div>
        <div class="fullscreenslider__overflowshadow fullscreenslider__overflowshadow--right"></div>
        <div class="fullscreenslider__backgrounds owl-carousel">
          <div class="image__wrapper"><img class="owl-lazy"
              data-src="/assets/original/images/Seg-Hotels00003.jpg" width="1920" height="1080" alt="Hotels" title=" 揭盖式洗碗机" /></div>
          <div class="image__wrapper"><img class="owl-lazy"
              data-src="/assets/original/images/Seg-Gastro00012.jpg" width="1920" height="1080" alt="" title="长龙式洗碗机" /></div>
          <div class="image__wrapper"><img class="owl-lazy"
              data-src="/assets/original/images/Spiegel-Verlag2_1920x1280.jpg" width="1920" height="1080" alt="Gemeinschaftsverpflegung" title="烘干机" /></div>
          <div class="image__wrapper"><img class="owl-lazy"
              data-src="/assets/original/images/Seg-Baecker00001.JPG" width="1920" height="1080" alt="Bäckerbetriebe" title="篮筐式洗碗机" /></div>
        </div>
        <div class="fullscreenslider__contentwrapper">
          <!-- <div class="fullscreenslider__headline headline--xl"><span>专业的餐具清洗消毒解决方案</span></div> -->
          <div class="fullscreenslider__textswrapper">
            <div class="fullscreenslider__texts owl-carousel">
              <div class="text__wrapper"><a href="javascript:;" class="btn btn--primary"> 揭盖式洗碗机</a></div>
              <div class="text__wrapper"><a href="javascript:;" class="btn btn--primary">长龙式洗碗机</a></div>
              <div class="text__wrapper"><a href="javascript:;" class="btn btn--primary">烘干机</a></div>
              <div class="text__wrapper"><a href="javascript:;" class="btn btn--primary">篮筐式洗碗机</a></div>
            </div>
            <div class="fullscreenslider__controls">
              <div class="control control--prev"></div>
              <div class="control control--next"></div>
            </div>
          </div>
        </div>
        <a href="#" class="fullscreenslider__cta jumplink" data-fixedcontainer="#c43804 .fullscreenslider__wrapper">
          <div class="cta__arrow cta__arrow--top"></div>
          <div class="cta__arrow cta__arrow--middle"></div>
          <div class="cta__arrow cta__arrow--bottom"></div>
        </a>
      </div>
      <script>
        jQuery(window).on('load', function() {
          var marketingAutomationData = [{
            "fileReferenceUid": 58525,
            "categories": [552],
            "pageUid": "16497"
          }, {
            "fileReferenceUid": 355032,
            "categories": [551],
            "pageUid": "16498"
          }, {
            "fileReferenceUid": 58527,
            "categories": [550],
            "pageUid": "319"
          }, {
            "fileReferenceUid": 58528,
            "categories": [549],
            "pageUid": "317"
          }, {
            "fileReferenceUid": 58529,
            "categories": [548],
            "pageUid": "16494"
          }, {
            "fileReferenceUid": 58530,
            "categories": [547],
            "pageUid": "16496"
          }, {
            "fileReferenceUid": 58531,
            "categories": [588],
            "pageUid": "16495"
          }, {
            "fileReferenceUid": 58532,
            "categories": [546],
            "pageUid": "321"
          }, {
            "fileReferenceUid": 58533,
            "categories": [545],
            "pageUid": "743"
          }, {
            "fileReferenceUid": 58534,
            "categories": [542],
            "pageUid": "16504"
          }, {
            "fileReferenceUid": 58535,
            "categories": [544],
            "pageUid": "16502"
          }, {
            "fileReferenceUid": 355983,
            "categories": [543],
            "pageUid": "16503"
          }, {
            "fileReferenceUid": 58537,
            "categories": [589],
            "pageUid": "16507"
          }];
          jQuery('#c43804 .fullscreenslider__wrapper').fullscreenSlider({
            marketingAutomation: marketingAutomationData
          });
        });
      </script>
    </div>
  </div>
  <div id="c43807" class="frame frame-default frame-type-avMATE ELECTRICAL_hero frame-layout-0 frame-space-after-medium frame--headline-typography  ">
    <div class="container heroteaser heroteaser--default heroteaser--inverted">
      <div class="row row__tabled--tablet">
        <div class="col-xs-12 col-sm-8 col__tabled--tablet">
          <div class="heroteaser__content">
            <header>
              <h3 class=" headline--h3">
                专业的餐具清洗消毒解决方案
              </h3>
            </header>
            <div class="rte__content">
              <p>迈特 研发的解决方案，支持一切专业餐具清洗消毒过程。我们的客户包括世界五百强，国内知名团餐公司，大专院校，五星级酒店，他们见证着迈特成为一家国际化科技性服务型企业，并对市场发挥着决定性的作用。专业的餐具清洗消毒设备和技术应用于厨余垃圾处理：来自 迈特 的清洁和智能解决方案。</p>
              <p><a href="/product/made-by-electrcal">了解更多 迈特 解决方案</a></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col__tabled--tablet">
          <div class="heroteaser__gallery">
            <div class="load__on__scroll visible__on__scroll imagegallery imagegallery--simple imagegallery--dots imagegallery--fade imagegallery--dots--right">
              <div class="imagegallery__stage">
                <div class="imagegallery__stage__counter"><span class="index">1</span><span class="divider divider--word">&nbsp;从&nbsp;</span><span class="divider divider--slash">&nbsp;/&nbsp;</span><span class="count">1</span></div>
                <div class="owl-carousel owl-theme imagegallery__stage__slider">
                  <div class="imagegallery__item" data-identifier="58540">
                    <div class="item__media">
                      <a data-fancybox href="/assets/original/images/csm_Bistrogeschirr-2_3_1cf5dfe61f.jpg"><img class="owl-lazy img-responsive" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                          data-src="/assets/original/images/csm_Bistrogeschirr-2_3_9619cdf2d2.jpg" width="720" height="720" alt="Commercial Dishwashing" title="commercial dishwashing" /></a>
                    </div>
                  </div>
                  <div class="imagegallery__item" data-identifier="58541">
                    <div class="item__media">
                      <a data-fancybox href="/assets/original/images/csm_KD_Steckbecken-Blume_2_b63a9a8d08.jpg"><img class="owl-lazy img-responsive" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                          data-src="/assets/original/images/csm_KD_Steckbecken-Blume_2_420b182928.jpg" width="720" height="720" alt="Equipment for cleaning and disinfection" title="Cleaning and disinfeciton equipment" /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <script>
              jQuery(function() {
                var $element = jQuery('#c43807 .imagegallery');

                $element.on('loaded.load_on_scroll', function() {
                  jQuery(this).imagegallery();
                });
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="c43808" class="frame frame-default frame-type-avMATE ELECTRICAL_content_tabs frame-layout-0 frame-space-after-medium  ">
      <div class="headline--h2">
        公司简介
      </div>
      <p style="margin-top: 20px;">
        佛山市迈特电器有限公司是一家专业从事商用洗碗机研究开发、制造及销售的公司。团队拥有研发制造经验,运用国际新技术、新工艺研制系列洗碗机产品。“以客户体验为中心”是公司致力追求的经菅理念。公司以帮助客户提高厨房洗涤效率,节约能源,降低综合运营成本为已任。
      </p>
    </div>
  </div>
  <div class="container">
    <div id="c43809" class="frame frame-default frame-type-avMATE ELECTRICAL_productfinder frame-layout-0 frame-space-after-small  ">
      <div class="headline--h2">
        产品介绍
      </div>
      <div class="cp--js-box cl" style="margin-top: 30px;">
        <div class="cp--js-left">
          <div class="cp--js-right-item">
            <a href="/detail/jiegai-DUN-G1">
              <p class="cp--js-text">
                揭盖机 型号：DUN-G1
              </p>
              <img src="/assets/image/jiegai-DUN-G1.jpg" alt="揭盖机 型号：DUN-G1">
            </a>
          </div>
        </div>
        <div class="cp--js-right cl">
          <div class="cp--js-right-item">
            <a href="/detail/lankuangji-D103">
              <p class="cp--js-text">
                篮筐机 型号：D103
              </p>
              <img src="/assets/image/lankuangji-D103.jpg" alt="篮筐机 型号：D103">
            </a>
          </div>
          <div class="cp--js-right-item">
            <a href="/detail/ludaishi-DUN-L3K30">
              <p class="cp--js-text">
                长龙式洗碗机 型号：DUN-L3K30
              </p>
              <img src="/assets/image/changlong-DUN-L3K30.jpg" alt="长龙式洗碗机 型号：DUN-L3K30">
            </a>
          </div>
          <div class="cp--js-right-item">
            <a href="/detail/ludaishi-DUN-L7K78">
              <p class="cp--js-text">
                长龙式洗碗机 型号：DUN-L7K78
              </p>
              <img src="/assets/image/changlong-DUN-L7K78.jpg" alt="长龙式洗碗机 型号：DUN-L7K78">
            </a>
          </div>
          <div class="cp--js-right-item">
            <a href="/detail/hongganji">
              <p class="cp--js-text">
                烘干机
              </p>
              <img src="/assets/image/hongganji.jpg" alt="烘干机">
            </a>
          </div>
        </div>
      </div>
      <style>
        .cp--js-box{
          display: flex;
        }
        .cp--js-box img{
          max-width: 100%;
          max-height: 100%;
        }
        .cp--js-left{
          flex: 1;
        }
        .cp--js-right{
          flex: 1;
        }
        .cp--js-right-item{
          position: relative;
        }
        .cp--js-right .cp--js-right-item{
          float: left;
          width: 50%;
        }
        .cp--js-text{
          position: absolute;
          bottom: 10px;
          left: 10px;
          margin: 0;
          color: #fff;
        }
      </style>
    </div>
  </div>
  <div class="container">
    <div id="c43816" class="frame frame-default frame-type-avMATE ELECTRICAL_teaser frame-layout-0  ">
      <div class="teaserbox__container teaserbox__container--3col">
        <div class="teaserbox__wrapper teaserbox__wrapper--bordergradient--tobottom">
          <a href="/sales/service-contact" title="代理商" class="teaserbox teaserbox--centered teaserbox--squareimage">
            <div class="teaserbox__image"><img class="load__on__scroll" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                data-src="/assets/original/images/csm_sales_blue_bd34120cdc.png" width="700" height="700" alt="代理商" title="代理商" /></div>
            <div class="teaserbox__headline headline--h2">
              代理商
            </div>
            <div class="teaserbox__content">
              <div class="rte__content">
                <p>搜索您附近的代理商？我们为您提供一个合作伙伴的大型网络平台，解决您的任何疑问。</p>
              </div>
            </div><span class="teaserbox__fakelink link">
                    代理商
                  </span></a>
        </div>
        <div class="teaserbox__wrapper teaserbox__wrapper--bordergradient--tobottom">
          <a href="/sales/what-we-do" title="服务" class="teaserbox teaserbox--centered teaserbox--squareimage">
            <div class="teaserbox__image"><img class="load__on__scroll" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                data-src="/assets/original/images/csm_service_blue_1c9ae93918.png" width="700" height="700" alt="" /></div>
            <div class="teaserbox__headline headline--h2">
              服务
            </div>
            <div class="teaserbox__content">
              <div class="rte__content">
                <p>无论任何故障，都能快速，便捷，高效地应对：MATE ELECTRICAL ，您的服务合作伙伴和专家。 </p>
              </div>
            </div><span class="teaserbox__fakelink link">
                    服务
                  </span></a>
        </div>
        <div class="teaserbox__wrapper teaserbox__wrapper--bordergradient--tobottom">
          <a href="/sales/mate-sales-partners" title="销售" class="teaserbox teaserbox--centered teaserbox--squareimage">
            <div class="teaserbox__image"><img class="load__on__scroll" src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                data-src="/assets/original/images/csm_dealers_blue_cfbd77f26b.png" width="700" height="394" alt="销售" title="销售" /></div>
            <div class="teaserbox__headline headline--h2">
              销售
            </div>
            <div class="teaserbox__content">
              <div class="rte__content">
                <p>您对 MATE ELECTRICAL 产品感兴趣吗？需要咨询吗？请直接与我们的销售部联系。我们乐于为您提供帮助。</p>
              </div>
            </div><span class="teaserbox__fakelink link">
                    销售
                  </span></a>
        </div>
      </div>
    </div>
  </div>
  <!--TYPO3SEARCH_end-->
</main>
{/block}