{extend name="public/common"}{/extend}
{block name="css"}
  <link rel="stylesheet" href="/assets/css/original-main.css">
  <link rel="stylesheet" href="/assets/css/index.css">
{/block}
{block name="body"}
  <div class="banner margin-b-100">
    <div class="back-z"></div>
    <div class="title">
      <p class="title-text"><span>专业的餐具清洗消毒解决方案</span></p>
      <div id="btn-swipper" class="btn-swipper">
        <div class="swiper-postion">
          <span class="postion-item"><a href="javascript:;">酒店业</a></span>
          <span class="postion-item"><a href="javascript:;">食品零售业</a></span>
          <span class="postion-item"><a href="javascript:;">航空餐饮</a></span>
        </div>
      </div>
    </div>
    <div class="go-learn">
      <a href="#" class="go-learn-block">
        <div class="iconfont iconjiantou top"></div>
        <div class="iconfont iconjiantou middle"></div>
        <div class="iconfont iconjiantou bottom"></div>
      </a>
    </div>
    <div id="swiper-container" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/assets/image/Seg-Gastro00012.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/assets/image/Seg-Baecker00001.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/assets/image/Seg-Inflight00001.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="content-box margin-b-100">
    <div class="content-in clearFix">
      <div class="row-tabled col-span col-sm-8">
        <div class="heroteaser_content">
          <header>
              <h3 class="headline-h3">
                专业的餐具清洗消毒解决方案
              </h3>
          </header>
          <div class="content">
              <p>
                迈科 研发的解决方案，支持一切专业餐具清洗消毒过程。来自 30 个国家的 2000 多名员工见证着 迈科 成为一家全球性科技服务型企业，并对市场发挥着决定性的作用。专业的餐具清洗消毒设备和技术应用于厨余垃圾处理：来自 迈科 的清洁和智能解决方案。
              </p>
              <a href="#javascript:;">了解更多 迈科 解决方案</a>
          </div>
        </div>
      </div>
      <div class="row-tabled col-span col-sm-4">
          <div id="swiper-container-2" class="swiper-container swiper-no-swiping">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/assets/image/csm_KD_Steckbecken-Blume_2_b63a9a8d08.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="/assets/image/csm_Bistrogeschirr-2_3_9619cdf2d2.jpg" alt="">
              </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
          </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div id="c43808"
      class="frame frame-default frame-type-avmeiko_content_tabs frame-layout-0 frame-space-after-medium  ">
      <div class="tabs tabs--contenttabs">
        <div class="row tabs__nav__holder">
          <div class="col-xs-12 col-md-6 col-md-offset-6">
            <div class="tabs__nav__wrapper mCustomScrollbar _mCS_1 mCS_no_scrollbar"
              style="width: 100%; overflow: visible; display: block;">
              <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_horizontal mCSB_outside"
                style="max-height: none;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x"
                  style="position: relative; top: 0px; left: 0px; width: 100%;" dir="ltr">
                  <ul class="tabs__nav nav" role="tablist">
                    <li role="presentation" class="active"><a href="https://www.meikochina.com/zh/#tab43808-291"
                        aria-controls="tab43808-291" role="tab" data-toggle="tab">
                        产品
                      </a></li>
                    <li role="presentation" class=""><a href="https://www.meikochina.com/zh/#tab43808-292"
                        aria-controls="tab43808-292" role="tab" data-toggle="tab">
                        案例研究
                      </a></li>
                    <li role="presentation" class=""><a href="https://www.meikochina.com/zh/#tab43808-293"
                        aria-controls="tab43808-293" role="tab" data-toggle="tab">
                        新闻
                      </a></li>
                    <li role="presentation" class=""><a href="https://www.meikochina.com/zh/#tab43808-316"
                        aria-controls="tab43808-316" role="tab" data-toggle="tab">
                        奖项
                      </a></li>
                    <li role="presentation" class=""><a href="https://www.meikochina.com/zh/#tab43808-469"
                        aria-controls="tab43808-469" role="tab" data-toggle="tab">
                        MEIKO周年纪念日
                      </a></li>
                  </ul>
                </div>
              </div>
              <div id="mCSB_1_scrollbar_horizontal"
                class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_horizontal"
                style="display: none;"><a href="https://www.meikochina.com/zh/#" class="mCSB_buttonLeft"
                  style="display: block;"></a>
                <div class="mCSB_draggerContainer">
                  <div id="mCSB_1_dragger_horizontal" class="mCSB_dragger"
                    style="position: absolute; min-width: 30px; display: block; width: 0px; left: 0px; max-width: 405px;">
                    <div class="mCSB_dragger_bar"></div>
                  </div>
                  <div class="mCSB_draggerRail"></div>
                </div><a href="https://www.meikochina.com/zh/#" class="mCSB_buttonRight"
                  style="display: block;"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="tabs__tabs tab-content">
          <div role="tabpanel" class="tabs__tab tab-pane active" id="tab43808-291">
            <div class="row row__tabled--desktop">
              <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder">
                <div class="item__media"><a data-fancybox=""
                    href="https://www.meikochina.com/fileadmin/_processed_/6/5/csm_UPster-B_01_Bandtransportspuelmaschine_5aa244dc39.jpg"><img
                      class="owl-lazy img-responsive"
                      src="./迈科洗碗机-德国专业清洗消毒技术 - MEIKO_files/csm_UPster-B_01_Bandtransportspuelmaschine_66fa89476c.jpg"
                      data-src="/fileadmin/_processed_/6/5/csm_UPster-B_01_Bandtransportspuelmaschine_66fa89476c.jpg"
                      width="720" height="721" alt="Band Spülmaschine UPster B"
                      title="Band Spülmaschine UPster"></a></div>
              </div>
              <div class="col-xs-12 col-md-6 col__tabled--desktop">
                <div class="tab__content rte__content">
                  <!--GLOSSARNOPARSE_begin-->
                  <div class="tab__content__headline headline--h2">UPster B – 精湛的餐具清洗技术</div>
                  <!--GLOSSARNOPARSE_end-->
                  <p>UPster B 是新一代餐具清洗技术的名称。为人类与环境量身打造的 UPster B 机器经济、节约且易于使用。</p>
                  <p><a
                      href="https://www.meikochina.com/zh/products/warewashing/flight-type-dishwashing-machines/upster-b/">了解更多信息</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tabs__tab tab-pane " id="tab43808-292">
            <div class="row row__tabled--desktop">
              <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder">
                <div class="item__media"><a data-fancybox=""
                    href="https://www.meikochina.com/fileadmin/_processed_/2/c/csm_Uni_Zhejiang1_1920x1280_24d7d8df2d.jpg"><img
                      class="owl-lazy img-responsive"
                      src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                      data-src="/fileadmin/_processed_/2/c/csm_Uni_Zhejiang1_1920x1280_19314d0631.jpg" width="720"
                      height="720" alt=""></a></div>
              </div>
              <div class="col-xs-12 col-md-6 col__tabled--desktop">
                <div class="tab__content rte__content">
                  <!--GLOSSARNOPARSE_begin-->
                  <div class="tab__content__headline headline--h2">浙江大学采用 30 多台 MEIKO 机器</div>
                  <!--GLOSSARNOPARSE_end-->
                  <p>五个校区占地面积共 4,503,741 平方米，而 MEIKO 的现场参与度也同样庞大。浙江大学配备有 13 台 B-Tronic 洗碗机、3 台宽频带 BA 机器、1 台 AZP 80
                    脱水装置、多台传送机和托盘堆垛机以及 6 台 K-Tronic 洗碗机。五个校区内的 17 个餐厅均配备有 DV80 罩式洗碗机。</p>
                  <p><a
                      href="https://www.meikochina.com/zh/case-studies/canteens/zhejiang-university-hangzhou-china/">了解更多信息</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tabs__tab tab-pane " id="tab43808-293">
            <div class="row row__tabled--desktop">
              <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder">
                <div class="item__media"><a data-fancybox=""
                    href="https://www.meikochina.com/fileadmin/_processed_/a/f/csm_MEIKO-CHINA-20th-Anniversary_040A5256_b7ede9c491.jpg"><img
                      class="owl-lazy img-responsive"
                      src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                      data-src="/fileadmin/_processed_/a/f/csm_MEIKO-CHINA-20th-Anniversary_040A5256_125d73ff2b.jpg"
                      width="720" height="720" alt=""></a></div>
              </div>
              <div class="col-xs-12 col-md-6 col__tabled--desktop">
                <div class="tab__content rte__content">
                  <!--GLOSSARNOPARSE_begin-->
                  <div class="tab__content__headline headline--h2">“MEIKO 制造”中国 20 周年庆典：</div>
                  <!--GLOSSARNOPARSE_end-->
                  <p>2017 年 2 月 20 日，星期一，MEIKO 将打开中国中山 MEIKO 工厂的大门，诚邀近百位来自亚太、印度和中东地区的 MEIKO 客户亲身体验“MEIKO
                    制造”的生产设施及产品。“MEIKO 制造”代表着一流的工艺、品质和设计，并能保证为餐具洗涤、清洁和消毒领域提供最清洁的解决方案和最具创新的技术。</p>
                  <p><a href="https://www.meikochina.com/zh/press/news/">Learn more</a></p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tabs__tab tab-pane " id="tab43808-316">
            <div class="row row__tabled--desktop">
              <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder"></div>
              <div class="col-xs-12 col-md-6 col__tabled--desktop">
                <div class="tab__content rte__content">
                  <!--GLOSSARNOPARSE_begin-->
                  <div class="tab__content__headline headline--h2">MEIKO 中国获得“十佳学校服务供应商”奖</div>
                  <!--GLOSSARNOPARSE_end-->
                  <p>最近，MEIKO 中国在必达亚洲组织的“最受欢迎学校合作伙伴”的公开评选活动中赢得了“十佳学校服务供应商”奖。</p>
                  <p><a href="https://www.meikochina.com/zh/press/news/">了解更多信息</a></p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tabs__tab tab-pane " id="tab43808-469">
            <div class="row row__tabled--desktop">
              <div class="col-xs-12 col-md-6 col__tabled--desktop tabs__imageholder">
                <div class="item__media"><a data-fancybox=""
                    href="https://www.meikochina.com/fileadmin/_processed_/0/a/csm_MEIKO-Pressemeldung_90_years_36238fb46e.jpg"><img
                      class="owl-lazy img-responsive"
                      src="data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAA8AAD/7gAOQWRvYmUAZMAAAAAB/9sAhAAGBAQEBQQGBQUGCQYFBgkLCAYGCAsMCgoLCgoMEAwMDAwMDBAMDg8QDw4MExMUFBMTHBsbGxwfHx8fHx8fHx8fAQcHBw0MDRgQEBgaFREVGh8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx//wAARCAAJABADAREAAhEBAxEB/8QASwABAQAAAAAAAAAAAAAAAAAAAAgBAQAAAAAAAAAAAAAAAAAAAAAQAQAAAAAAAAAAAAAAAAAAAAARAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKpAAAB//9k="
                      data-src="/fileadmin/_processed_/0/a/csm_MEIKO-Pressemeldung_90_years_f77ae335d2.jpg"
                      width="720" height="720" alt=""></a></div>
              </div>
              <div class="col-xs-12 col-md-6 col__tabled--desktop">
                <div class="tab__content rte__content">
                  <!--GLOSSARNOPARSE_begin-->
                  <div class="tab__content__headline headline--h2">清洁探索历程</div>
                  <!--GLOSSARNOPARSE_end-->
                  <p><a href="http://meiko.w15l.t4n.io/cn" target="_blank"
                      class="btn btn--primary waves-effect waves-darkblue"><span
                        class="waves-textwrapper">学到更多</span></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        jQuery(document).ready(function () {
          jQuery('#c43808').contentTabs();
        });
      </script>
    </div>
  </div>
{/block}

{block name="footer"}
	<script type="text/javascript" src="/assets/js/index.js"></script>
{/block}
