{extend name="public/common"}{/extend}
{block name="body"}
  <!-- main -->
  <main class="main">
    <!--TYPO3SEARCH_begin-->
    <div class="container"></div>
    <div id="c26809" class="frame frame-default frame-type-avmeiko_pagehero frame-layout-0  ">
      <div class="hero__wrapper">
        <div class="">
          <div class="hero hero--contentposition-image">
            <div class="hero__contentwrapper">
              <div class="hero__headline-wrapper  contentmask__paddingcontainer">
                <div class="hero__headline">
                  <h1 class="text-center headline--xl">
                    国际奖项
                  </h1>
                </div>
                <div class="hero__overimage"></div>
              </div><img class="hero__image img-responsive" src="/assets/original/images/csm_M_Innovation_328907ced0.jpg" width="1920" height="450" alt=""></div>
          </div>
        </div>
      </div>
      <script>
        jQuery('body').addClass('backendlayout-pagets__followup--hero');
      </script>
    </div>
    <div class="container">
      <div id="c9120" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-xs-12">
            <div class="ce-textpic  ce-center ce-above clearfix">
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>MEIKO很高兴赢得了很多的奖杯和奖项。实例包括在“减排、处理和废物分离”方面的最佳环保产品的荣誉称号，我们的M-iQ系列产品被德国Baden-Württemberg州授予这个荣誉称号。这些荣誉对我们及我们的员工来说是一个非常了不起的动力，让我们继续开展创造性的工作。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c86263" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2018 年餐饮之星 (Catering Star) 人体工程学方面银奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" title="Preis für MEIKO " alt="MEIKO Preis Catering Star" src="/assets/original/images/csm_49_Catering-Star_silber_2018_ed61c54f9a.jpg" width="250" height="287"></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>餐饮之星由 Catering Inside 杂志的读者评选，以此奖励那些在餐饮服务、员工食堂以及餐饮行业中最成功的新技术产品。新品 M-iClean HXL 揭盖式洗碗机凭借人体工程学的优势再获殊荣：MEIKO 荣获银奖。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c77918" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2018 年厨房奖银奖
              </h2>
              <h3 class=" headline--h3">
                M-iClean H
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" title="Küche Award Spülmaschine" alt="Küche Auszeichnung für Haubenspülmaschine" src="/assets/original/images/csm_48_KüCHE_AWARD_silber_2018_592f70174e.jpg" width="250" height="287">
                      <figcaption class="image-caption">
                        Warengruppe Spültechnik
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>厨房"专业杂志，作为“德国厨师协会 "(VKD)的官方杂志，每年颁发该奖项。《厨房》杂志的读者们通过调查问卷对便利工具市场和技术市场的数百种新产品进行评定，根据评定授予厨房奖的金、银、铜奖。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c80927" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                SCI设备奖
              </h2>
              <h3 class=" headline--h3">
                M-iClean H荣获人体工程学类金奖
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_47_SCI_Equipment_Awards_2018_d8d877a992.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>FCSI协会和全球最大的B2B活动组织机构UBM SES公司在新加坡FHA展会上颁发SCI设备奖。评审团的评选包括三个标准：可持续性、节省成本和创新力。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c62460" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2018 年市场最佳表现奖 (Best of Market)
              </h2>
              <h3 class=" headline--h3">
                第 1 名：可持续性和技术
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_45_Best-of-Market-2018_2d75c00000.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>这一知名奖项由《first class》，《GV manager》，《24 Stunden Gastlichkeit》和《Schulverpflegung》等杂志的编辑颁发，在食品&amp;饮料和技术&amp;设备领域设置了 23 个分项。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c60555" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2018“能源”分项绿丝带奖
              </h2>
              <h3 class=" headline--h3">
                M-iClean HXL
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_44_GruenesBand-Nachhaltigkeit-2018_038301139e.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>该奖项由 Huss-Medien（关于餐饮业，酒店业和机构集体食堂的专业杂志）颁发，旨在表彰企业为餐饮市场的可持续发展做出的贡献。该奖项共设六个分项，自 2012 年起每两年颁发一次。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c60557" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2018 专业零售业超级合伙人奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_43_GGKA-bestpartner_2018-2019_859324f660.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>该奖项由职业规划师协会颁发，共设九个分项，旨在表彰优秀的餐饮和商用厨房设备的供应商。该奖项在“Intergastra”展会上颁发。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c51265" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                德国制造安全
              </h2>
              <h3 class=" headline--h3">
                for TopClean M
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_40_SMG_Safety_Made_in_Germany_4a618dd9ee.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>“安全”(safety)一词指的是非警察的危险预防——这是德国在全球设定最严格规章制度的领域。“德国制造安全”（Safety made in Germany, SMG）的质量认证只授予符合德国安全行业质量标准的产品，例如MEIKO迈科出品的TopClean M。</p>
                  <p><span class="text--xs">*registered trademark&nbsp;vfdb, Germany.</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c67355" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2017 年厨房创新奖
              </h2>
              <h3 class=" headline--h3">
                （美国）
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" title="Kitchen Innovations Award 207" alt="Kitchen Innovations Award 2017" src="/assets/original/images/csm_46_Kitchen_Inno_Awards_2017_2cbbb907e5.jpg" width="250" height="287"></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>该奖项旨在表彰餐饮市场的重要创新和技术。它由“美国餐馆协会”在年度博览会上颁发。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c51267" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                MTP奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_39_MTP_Award_gold_Meiko_6c921d3479.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>MEIKO迈科很荣幸地在波兰获颁颇有声望的“MTP金奖”（MTP Gold Medal）。MTP是波兰领先的贸易展会组织者之一，MEIKO迈科凭借新型的揭盖式玻璃器皿和餐具洗涤机M-iClean H获奖。专业评审团的专家们对新型自动揭盖系统的创新性及可靠性非常满意。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c51268" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                智能标签奖
              </h2>
              <h3 class=" headline--h3">
                for the ergonomic concept
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_37_HOST_SMARTLABEL_Award_2017_f9d3ba87dd.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>HOST，米兰国际酒店用品展，与POLI.design合作，为功能性和创新力的产品和服务颁发奖项。MEIKO迈科凭借M-iClean H人体工程学概念获得由米兰理工大学教授和行业专家所组成的内行专业评审团授予的智能标签奖（Smart Label Award）。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c51269" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2017年餐饮设备供应商奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_36_CEDA_Customer_Service_Winner_2017_8165a621fb.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>“餐饮设备供应商奖”（CEDA Supplier Award）由CEDA餐饮设备供应商协会颁发。MEIKO迈科是该协会的银牌合作伙伴，并曾以其“卓越售后服务”而获奖。只有协会会员才能参与评奖，并根据其服务质量来决定是否获奖。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c51270" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                商用厨房创新挑战奖
              </h2>
              <h3 class=" headline--h3">
                Gold for UPster K
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_38_Innovation_Challenge_Certificate_Gold_Meiko_66a225b417.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>在伯明翰，专业厨房技术领域的各家公司在“商用厨房”（Commercial Kitchen）展会举办期间相互竞争，以博得“创新挑战”（Innovation Challenge）奖项的青睐。在现场比赛中，参赛者必须说服选定的专家陪审团了解他们机器的优点。MEIKO迈科以篮框传送式洗碗机UPster K获得了金牌奖。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c32978" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                ABZ 品牌研究：Meiko 成为“2017 年度品牌”
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_31_Premium-Marke-2017_Backbranche_9f73af4c97.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>烘焙业汇报 (ABZ) 根据其品牌研究将 MEIKO 推选为‘商用洗碗机’类别下的“2017 年度品牌”。使用 MEIKO，面包师可以胸有成竹地应对卫生方面的挑战。前瞻性的领先技术与不断发展的烘焙业 - 完美契合</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c32980" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                人体工程学类奖项：MEIKO 荣获厨房设备奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_30_KuecheAward-2017_Bronze_M-iClean-H_de71cfa2fb.jpg" width="250" height="285" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>德国的厨房主管和厨房经理授予 MEIKO 厨房设备奖铜奖，以表彰它的新产品 - M-iClean H 揭盖式洗碗机，使用符合人体工程学设计的MEIKO 产品，可使工作环境更舒适。读者圈子的专业评鉴强调了这一要求的重要性 - 这是应聘时个人对工作环境评估一个重要的加分项。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c32982" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                作为顶尖酒店供应商 – MEIKO 赢得顶级酒店之星奖 (Top hotel Star Award)
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_32_TopHotel-StarAward-2017_Wirtschaftlichkeit_M-iQ-GreenEye_43287a66c2.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>国际餐饮及酒店设备展不仅是酒店行业每年的焦点 - 在此展会上也会举办广受认可的顶级酒店之星奖的颁发活动，以此表彰酒店供应商卓越的创新性。2017 年 MEIKO 再次获此殊荣：M-iQ 的 GreenEye-Technology® 在效能方面荣获金奖。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c33049" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2017 年餐饮之星 (Catering Star) 人体工程学方面金奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_34_CateringStar2017-gold_02f9162cdd.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>餐饮之星由 Catering Inside 杂志的读者评选，以此奖励那些在餐饮服务、员工食堂以及餐饮行业中最成功的新技术产品。新品 M-iClean H 揭盖式洗碗机凭借人体工程学的优势再获殊荣：MEIKO 荣获金奖。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c32984" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2016 年餐饮之星 (Catering Star)
              </h2>
              <h3 class=" headline--h3">
                技术类银奖：WasteStar CC
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_33_CateringStar2016-silber_41e677accb.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>该奖项由 LPV 出版社（Catering Inside 杂志）颁发。旨在表彰在餐饮服务、员工食堂以及餐饮行业中最成功的新服务和新技术产品。</p>
                  <p>来自奥芬堡的餐具清洗技术专家 Meiko 被授予 2016 年餐饮之星银奖，以表彰其技术的创新性：超过 300 位餐饮业经理和“Catering inside”杂志的读者相信，WasteStar CC——餐厨垃圾系统在卫生方面的技术无可争议。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15025" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2016 年顶级酒店之星 (TOP HOTEL STAR AWARD)
              </h2>
              <h3 class=" headline--h3">
                技术类金奖：WasteStar CC
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_17_Tophotel_StarAward-2016_Gold-Technologie_da11279d6f.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>顶级酒店之星奖旨在表彰酒店供应业的卓越服务。公司的产品可以参加多个类别的角逐。专业评审团在每个类别中提名三甲公司。然后再通过读者调查从这三甲公司中确定优胜者。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15029" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2016 年顶级酒店之星 (TOP HOTEL STAR AWARD)
              </h2>
              <h3 class=" headline--h3">
                灵活性类银奖：UPster K
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_18_Tophotel-StarAward-2016_Silber-Flexibilitaet_44c25c27f1.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>顶级酒店之星奖旨在表彰酒店供应业的卓越服务。公司的产品可以参加多个类别的角逐。专业评审团在每个类别中提名三甲公司。然后再通过读者调查从这三甲公司中确定优胜者。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15031" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                汉堡博览会未来奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_25_Internorga-Zukunftspreis-2016_8452a62f1f.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>“产品-技术和设备引领者”<br> Wastestar CC</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15033" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2016“水”分项绿丝带奖
              </h2>
              <h3 class=" headline--h3">
                GreenEye-Technology®
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_19_GruenesBand-Nachhaltigkeit-2016_b9ff25f05a.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>该奖项由 Huss-Medien（关于餐饮业，酒店业和机构集体食堂的专业杂志）颁发，旨在表彰企业为餐饮市场的可持续发展做出的贡献。该奖项共设六个分项，自 2012 年起每两年颁发一次。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15035" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2016 专业零售业超级合伙人奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_20_GGKA_Superpartner-2016_a71f96c8df.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>该奖项由职业规划师协会颁发，共设九个分项，旨在表彰优秀的餐饮和商用厨房设备的供应商。该奖项在“Intergastra”展会上颁发。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15037" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2015 年 HOPITECH 奖
              </h2>
              <h3 class=" headline--h3">
                WasteStar CC
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_26_HopiTech-Pau-2015_f1a62c8969.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>Hopitech 奖由法国医疗机构的厨房经理在其代表大会上颁发。该奖项颁发给在环境保护的可持续性上做出杰出贡献的产品。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15040" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                “酒店和技术”建筑杂志颁发的 Desi 奖
              </h2>
              <h3 class=" headline--h3">
                商用厨房技术奖：M-iClean
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_28_H_D-Award-2015_1f2a3cc59a.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>H&amp;D 奖（又称 Desi 奖）是由“酒店和技术”建筑杂志颁发的，用于表彰优秀的产品质量和设计品质的奖项。该奖项的奖励标准是创新程度、合规的质量、耐用性、功能性、功能清晰和环保。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15045" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2015 年顶级酒店之星 (TOP HOTEL STAR AWARD)
              </h2>
              <h3 class=" headline--h3">
                创新类金奖：GreenEye-Technology®
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_22_Tophotel-StarAward-2015-Gold-Innovation_7ea6e5fd57.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>顶级酒店之星奖旨在表彰酒店供应业的卓越服务。公司的产品可以参加多个类别的角逐。专业评审团在每个类别中提名三甲公司。然后再通过读者调查从这三甲公司中确定优胜者。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15048" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2015 年顶级酒店之星 (TOP HOTEL STAR AWARD)
              </h2>
              <h3 class=" headline--h3">
                非食品类银奖：M-iClean
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_21_Tophotel-StarAward-2015-Silber-Nonfood_d4f988a4d0.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>顶级酒店之星奖旨在表彰酒店供应业的卓越服务。公司的产品可以参加多个类别的角逐。专业评审团在每个类别中提名三甲公司。然后再通过读者调查从这三甲公司中确定优胜者。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15055" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2015 年市场最佳表现奖 (Best of Market)
              </h2>
              <h3 class=" headline--h3">
                第 1 名：清洗技术
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_27_GV_BestOfMarket2015-Platz1-Spueltechnik_dff8ba7d61.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>这一知名奖项由《first class》，《GV manager》，《24 Stunden Gastlichkeit》和《Schulverpflegung》等杂志的编辑颁发，在食品&amp;饮料和技术&amp;设备领域设置了 23 个分项。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15058" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2015 年厨房奖银奖
              </h2>
              <h3 class=" headline--h3">
                M-iClean
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image">
                      <a href="https://www.meikochina.com/fileadmin/_processed_/e/f/csm_24_KuecheAward2015_38cc3dfa9a.jpg" class="fancybox" rel="fancybox[12731]"><img class="image-embed-item" src="/assets/original/images/csm_24_KuecheAward2015_1c53548a41.jpg" width="250" height="286" alt=""></a>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>"厨房"专业杂志，作为“德国厨师协会 "(VKD)的官方杂志，每年颁发该奖项。《厨房》杂志的读者们通过调查问卷对便利工具市场和技术市场的数百种新产品进行评定，根据评定授予厨房奖的金、银、铜奖。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15061" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_23_MERCURY-AWARD-2014_6ac01cf9b8.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>水银奖共设置七个分项奖，由Sial Group --- 全球 顶尖的食品行业B2B 展览会，每年颁发一次。它是航空餐饮业的著名奖项。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15063" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2014 年餐饮之星银奖
              </h2>
              <h3 class=" headline--h3">
                清洗技术和卫生类：M-iQ GreenEye-Technology®
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_16_CateringStar2014-silber_ede73e69a5.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>该奖项由 LPV出版社（餐饮业杂志）颁发。它旨在表彰在餐饮服务、机构集体食堂以及餐饮行业中最成功的新服务和新技术产品。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15066" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2014 年顶级酒店之星 (TOP HOTEL STAR AWARD)
              </h2>
              <h3 class=" headline--h3">
                设计类金奖：M-iClean
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_15_TopHotel-StarAward-Gold-Design_136360d3a7.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>顶级酒店之星奖旨在表彰酒店供应业的卓越服务。公司的产品可以参加多个类别的角逐。专业评审团在每个类别中提名三甲公司。然后再通过读者调查从这三甲公司中确定优胜者。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15068" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                奥芬堡大学德国奖学金资助
              </h2>
            </header>
            <div class="ce-textpic ce-no-text ce-left ce-intext ce-nowrap ce-nobodytext clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_14-FH-DeutschlandStipendium_89b509e55f.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15071" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2013 年水银奖
              </h2>
              <h3 class=" headline--h3">
                M-iQ 技术
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_MercuryAward13_3db7d691e2.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>水银奖共设置七个分项奖，由Sial Group --- 全球 顶尖的食品行业B2B 展览会，每年颁发一次。它是航空餐饮业的著名奖项。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15074" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                最佳餐饮企业奖 (Best of Gastro)
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards2_f1870a3383.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>2012 餐饮业博览会（赫尔辛基）</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15076" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2012 年顶级酒店之星 (TOP HOTEL STAR AWARD) 金奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards3_a75c214456.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>德国畅销的酒店杂志《Top hotel》颁发此奖项，以表彰酒店业各个类别的最佳产品。该奖项于 2012 年 3 月 11 日，在汉堡 Internorga 专业博览会上颁发。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15080" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                绿丝带奖
              </h2>
              <h3 class=" headline--h3">
                餐饮市场可持续发展奖
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards4_b4bb15f4d7.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>第 1 名 - 所属分项：水<br> 节约和珍惜用水。</p>
                  <p>该奖项由 Huss-Medien（关于餐饮业，酒店业和机构集体食堂的专业杂志）颁发，旨在表彰企业为餐饮市场的可持续发展做出的贡献。该奖项共设六个分项，自 2012 年起每两年颁发一次。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15083" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2011 年创新冠军奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards9_f8f8fc251d.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>2011 年创新冠军奖 horecatel 博览会（比利时）</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15084" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2011 年厨房创新奖
              </h2>
              <h3 class=" headline--h3">
                （美国）
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards10_4dc894a912.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>该奖项旨在表彰餐饮市场的重要创新和技术。它由“美国餐馆协会”在年度博览会上颁发。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15087" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2011 年厨房奖
              </h2>
              <h3 class=" headline--h3">
                第 1 名
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards11_28497d0a6c.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>《厨房》杂志，作为“德国厨师协会 (VKD)”的官方杂志，每年颁发该奖项。《厨房》杂志的读者们通过调查问卷对便利工具市场和技术市场的数百种新产品进行评定，根据评定授予厨房奖的金、银、铜奖。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15090" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2011 年环保技术奖
              </h2>
              <h3 class=" headline--h3">
                表彰在环保技术方面的优秀创新产品
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards12_f8006c3124.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>环保技术奖于 2009 年设立，由巴登 - 符腾堡州环境、气候和能源部颁发。该奖项每两年颁发一次，授予环保技术领域的优秀创新产品。该奖项旨在表彰对提高资源利用率和保护环境做出卓越贡献、即将 上市或者上市时间不超过两年的新产品。参评企业必须是总部或分公司位于巴登 - 符腾堡州境内。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15092" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                餐饮之星
              </h2>
              <h3 class=" headline--h3">
                一等奖 清洗技术领域
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards5_7ba9c4dc69.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>该奖项由 LPV出版社（餐饮业杂志）颁发。它旨在表彰在餐饮服务、机构集体食堂以及餐饮行业中最成功的新服务和新技术产品。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15093" class="frame frame-default frame-type-textmedia frame-layout-indent_big frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <header>
              <h2 class=" headline--h2">
                2010 年 Dr.-Georg-Triebe 创新奖
              </h2>
              <h3 class=" headline--h3">
                金奖 产品创新领域
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards7_a420d086e2.jpg" width="250" height="286" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>Dr.-Georg-Triebe 奖旨在表彰为保障餐饮或机构集体食堂的长期发展做出的卓越贡献以及对行业的开创性贡献。 该奖项每五年颁发一次，由职业规划师协会颁发</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15094" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2010 年 HGV 实践顶级创新奖
              </h2>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards8_9b0abb484b.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>卫生类创新冠军奖</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c15095" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2010 年新星奖 (Star Award)
              </h2>
              <h3 class=" headline--h3">
                银奖 创新领域
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards6_c7501d45ad.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>顶级酒店之星奖旨在表彰酒店供应业的卓越服务。公司的产品可以参加多个类别的角逐。专业评审团在每个类别中提名三甲公司。然后再通过读者调查从这三甲公司中确定优胜者。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--TYPO3SEARCH_end-->
  </main>
{/block}