{extend name="public/common"}{/extend}
{block name="body"}
  <!-- main -->
  <main class="main">
    <!--TYPO3SEARCH_begin-->
    <div class="container"></div>
    <div id="c26809" class="frame frame-default frame-type-avMATE ELECTRCAL_pagehero frame-layout-0  ">
      <div class="hero__wrapper">
        <div class="">
          <div class="hero hero--contentposition-image">
            <div class="hero__contentwrapper">
              <div class="hero__headline-wrapper  contentmask__paddingcontainer">
                <div class="hero__headline">
                  <h1 class="text-center headline--xl">
                    荣誉
                  </h1>
                </div>
                <div class="hero__overimage"></div>
              </div><img class="hero__image img-responsive" src="/assets/original/images/csm_M_Innovation_328907ced0.jpg" width="1920" height="450" alt=""></div>
          </div>
        </div>
      </div>
      <script>
        jQuery('body').addClass('backendlayout-pagets__followup--hero');
      </script>
    </div>
    <div class="container">
      <div id="c9120" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-xs-12">
            <div class="ce-textpic  ce-center ce-above clearfix">
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>
                    
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container">
      <div id="c15095" class="frame frame-default frame-type-textmedia frame-layout-indent_medium frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <header>
              <h2 class=" headline--h2">
                2010 年新星奖 (Star Award)
              </h2>
              <h3 class=" headline--h3">
                银奖 创新领域
              </h3>
            </header>
            <div class="ce-textpic  ce-left ce-intext ce-nowrap clearfix">
              <div class="ce-gallery" data-ce-columns="1" data-ce-images="1">
                <div class="row">
                  <div class="col-xs-12">
                    <figure class="image"><img class="image-embed-item" src="/assets/original/images/csm_Awards6_c7501d45ad.jpg" width="250" height="287" alt=""></figure>
                  </div>
                </div>
              </div>
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>顶级酒店之星奖旨在表彰酒店供应业的卓越服务。公司的产品可以参加多个类别的角逐。专业评审团在每个类别中提名三甲公司。然后再通过读者调查从这三甲公司中确定优胜者。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!--TYPO3SEARCH_end-->
  </main>
{/block}