{extend name="public/common"}{/extend}
{block name="body"}
  <!-- main -->
  <main class="main career-jobs">
    <!--TYPO3SEARCH_begin-->
    <div class="container"></div>
    <div id="c26070" class="frame frame-default frame-type-avMATE ELECTRICAL_pagehero frame-layout-0  ">
      <div class="hero__wrapper">
        <div class="">
          <div class="hero hero--contentposition-image">
            <div class="hero__contentwrapper">
              <div class="hero__headline-wrapper  contentmask__paddingcontainer">
                <div class="hero__headline">
                  <h1 class="text-center headline--xl">
                    迈特——给您一个实现梦想与价值的卓越平台！
                  </h1>
                </div>
                <div class="hero__overimage"></div>
              </div><img class="hero__image img-responsive" src="/assets/original/images/csm_M_Recruiting_1_0b28779742.jpg" width="1920" height="450" alt=""></div>
          </div>
        </div>
      </div>
      <script>
        jQuery('body').addClass('backendlayout-pagets__followup--hero');
      </script>
    </div>
    <div class="container">
      <div id="c11216" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-xs-12">
            <div class="ce-textpic  ce-center ce-below clearfix">
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>迈特中国  佛山市迈特电器有限公司<br><br> 敬请期待职位信息<br></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--TYPO3SEARCH_end-->
  </main>
{/block}