{extend name="public/common"}{/extend}
{block name="body"}
  <!-- main -->
  <main class="main career-jobs">
    <!--TYPO3SEARCH_begin-->
    <div class="container"></div>
    <div id="c26070" class="frame frame-default frame-type-avmeiko_pagehero frame-layout-0  ">
      <div class="hero__wrapper">
        <div class="">
          <div class="hero hero--contentposition-image">
            <div class="hero__contentwrapper">
              <div class="hero__headline-wrapper  contentmask__paddingcontainer">
                <div class="hero__headline">
                  <h1 class="text-center headline--xl">
                    MEIKO——给您一个实现梦想与价值的卓越平台！
                  </h1>
                </div>
                <div class="hero__overimage"></div>
              </div><img class="hero__image img-responsive" src="/assets/original/images/csm_M_Recruiting_1_0b28779742.jpg" width="1920" height="450" alt=""></div>
          </div>
        </div>
      </div>
      <script>
        jQuery('body').addClass('backendlayout-pagets__followup--hero');
      </script>
    </div>
    <div class="container">
      <div id="c11216" class="frame frame-default frame-type-textmedia frame-layout-0 frame-space-after-medium frame--headline-typography  ">
        <div class="row">
          <div class="col-xs-12">
            <div class="ce-textpic  ce-center ce-below clearfix">
              <div class="ce-bodytext">
                <div class="rte__content">
                  <p>迈科中国 <br><br>传承德国 <br><br>迈科清洗科技（中山）有限公司隶属于世界商用洗涤顶尖品牌--德国迈科集团。为德国迈科集团全资子公司。为与中国用户分享全球领先的洗涤技术，迈科于1998年起正式进入中国。 <br><br>迈科清洗科技（中山）有限公司现落户于国家级高新技术产业开发区-广东省中山市火炬区，主要经营商用厨房清洗、医疗病区清洗以及厨余垃圾处理领域的设备制造，同时提供以上领域的整体解决方案等服务。<br><br>经过十多年发展，迈科（中山）业务覆盖国内所有大中城市，一举成为中国清洗设备领域专家。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="c9261" class="frame frame-default frame-type-list frame-layout-0 frame-space-after-medium frame--headline-typography initialized">
        <!--TYPO3SEARCH_end-->
        <div class="job__overview">


          <div class="menu__container menu__container--list menu__container--list-small">

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/aankomend-servicemonteur/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Aankomend Servicemonteur
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Amsterdam, NL
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/aussendienstmitarbeiter-mwd-fuer-das-gebiet-nordrhein-westfalen/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Außendienstmitarbeiter (m/w/d) für das Gebiet Nordrhein-Westfalen
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Großraum Niederrhein/Westfalen, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/bachelor-masterthesis-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Bachelor-/Masterthesis (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      Business Consulting
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/bereichsleiter-chemie-mwd-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Bereichsleiter Chemie (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Fällanden, CH
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/business-consultant-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Business Consultant (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      Business Consulting
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/business-consultant-mwd-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Business Consultant (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      Business Consulting
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/commercial-equipements-restauration-hf-2/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Commercial Equipements Restauration (h/f)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      , FR
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/commercial-sedentaire-sav-hf-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Commercial Sédentaire SAV (h/f)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      , FR
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/elektroingenieur-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Elektroingenieur (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      项目/设计
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/entwicklungsingenieur-maschinenbau-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Entwicklungsingenieur Maschinenbau (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      项目/设计
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/fertigungsleiter-fuer-den-bereich-korb-und-bandtransportspuelmaschinen-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Fertigungsleiter für den Bereich Korb- und Bandtransportspülmaschinen (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      生产
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/kaufmaennischer-mitarbeiter-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Kaufmännischer Mitarbeiter (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      人事行政
                    </div>

                    <div class="menubox__additional_col">
                      Mannheim, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/key-account-manager-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Key Account Manager (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/lehrerpaedagogetechnischer-trainer-vertrieb-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Lehrer/Pädagoge/Technischer Trainer Vertrieb (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/manager-produktkonfiguration-mwd-2/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Manager Produktkonfiguration (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      项目/设计
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/mechatroniker-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Mechatroniker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      生产
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/mitarbeiter-produktkonfiguration-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Mitarbeiter Produktkonfiguration (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      项目/设计
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/montage-und-servicetechniker-sps-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Montage- und Servicetechniker SPS (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/planer-mwd-spuelkuechen-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Planer (m/w/d) Spülküchen
                    </div>

                    <div class="menubox__additional_col">
                      项目/设计
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/product-manager-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Product Manager (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/produktmanager-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Produktmanager (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/projektleiter-im-produktmanagement-mwd-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Projektleiter im Produktmanagement (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/projeteur-charge-de-projets-bureau-detudes-hf-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Projeteur Chargé de Projets Bureau d'Etudes (h/f)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      , FR
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/responsable-projets-restauration-hf-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Responsable Projets Restauration (h/f)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      , FR
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/sachbearbeiter-kundenstamm-management-crm-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Sachbearbeiter Kundenstamm-Management / CRM (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/sachbearbeiter-service-innendienst-mwd-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Sachbearbeiter Service-Innendienst (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Stuttgart, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/sales-support-assistant-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Sales Support Assistant
                    </div>

                    <div class="menubox__additional_col">
                      人事行政
                    </div>

                    <div class="menubox__additional_col">
                      Rotterdam, NL
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/segmentmanager-im-bereich-produktmanagement-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Segmentmanager im Bereich Produktmanagement (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Offenburg, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/service-technician-4/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Service Technician
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Sint Niklaas, BE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/service-technician-5/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Service Technician
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Chatswood, AU
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-nordbayern-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Service-/Wartungstechniker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      , DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicemonteur-3/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicemonteur
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Amsterdam, NL
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-9/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Hannover, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mw-2/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker (m/w)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      , DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-10/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Großraum Heilbronn, Ludwigsburg, Stuttgart, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-8/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      , DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-15/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      , DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-16/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Großraum Nordbaden - Rhein Neckar Kreis, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-fuer-die-region-schwaben-oberbayern-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker (m/w/d) für die Region Schwaben &amp; Oberbayern
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      , DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-elektriker-mwd/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker / Elektriker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Gebiet Rhein-Main, Frankfurt, Darmstadt, Mainz/Wiesbaden, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-elektriker-mwd-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker / Elektriker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      Gebiet Leverkusen, Münster, Dortmund, Essen, Duisburg, Köln, Bonn, Koblenz, DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-elektriker-mwd-2/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Servicetechniker / Elektriker (m/w/d)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      , DE
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/technicien-sav-itinerant-normandie-hf-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Technicien SAV Itinérant Normandie (h/f)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      , FR
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/technicien-sav-itinerant-sud-hf-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Technicien SAV Itinérant Sud (h/f)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      , FR
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/technicien-sav-lavage-professionnel-cdi-hf-1/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Technicien SAV Lavage Professionnel CDI (h/f)
                    </div>

                    <div class="menubox__additional_col">
                      售后服务
                    </div>

                    <div class="menubox__additional_col">
                      , FR
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

            <div class="menubox__wrapper">

              <a class="menubox menubox--4row menubox__link" href="https://www.meikochina.com/zh/our-company/career-jobs/experts-professionals/job12/verkaufspersoenlichkeit-mwd-vollzeit/">
                <div class="menubox__contentwrapper">
                  <div class="row">
                    <div class="menubox__headline headline--h4">
                      Verkaufspersönlichkeit (m/w/d) - Vollzeit
                    </div>

                    <div class="menubox__additional_col">
                      销售
                    </div>

                    <div class="menubox__additional_col">
                      Basel, CH
                    </div>


                    <span class="menubox__fakelink">
                      <span class="link">
                        说明
                      </span>
                    </span>

                  </div>
                </div>
              </a>

            </div>

          </div>

        </div>

        <!--TYPO3SEARCH_begin-->

        <script>
          jQuery(function() {
            jQuery('#c9261').multiselect();
          });
        </script>
      </div>
    </div>
    <!--TYPO3SEARCH_end-->
  </main>
{/block}