
    <div class="container">
        <div id="c9261" class="frame frame-default frame-type-list frame-layout-0 frame-space-after-medium frame--headline-typography initialized">
          <!--TYPO3SEARCH_end-->
          <div class="job__overview">
  
  
            <div class="menu__container menu__container--list menu__container--list-small">
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/aankomend-servicemonteur/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Aankomend Servicemonteur
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Amsterdam, NL
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/aussendienstmitarbeiter-mwd-fuer-das-gebiet-nordrhein-westfalen/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Außendienstmitarbeiter (m/w/d) für das Gebiet Nordrhein-Westfalen
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Großraum Niederrhein/Westfalen, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/bachelor-masterthesis-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Bachelor-/Masterthesis (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        Business Consulting
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/bereichsleiter-chemie-mwd-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Bereichsleiter Chemie (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Fällanden, CH
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/business-consultant-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Business Consultant (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        Business Consulting
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/business-consultant-mwd-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Business Consultant (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        Business Consulting
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/commercial-equipements-restauration-hf-2/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Commercial Equipements Restauration (h/f)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        , FR
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/commercial-sedentaire-sav-hf-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Commercial Sédentaire SAV (h/f)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        , FR
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/elektroingenieur-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Elektroingenieur (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        项目/设计
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Entwicklungsingenieur Maschinenbau (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        项目/设计
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/fertigungsleiter-fuer-den-bereich-korb-und-bandtransportspuelmaschinen-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Fertigungsleiter für den Bereich Korb- und Bandtransportspülmaschinen (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        生产
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/kaufmaennischer-mitarbeiter-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Kaufmännischer Mitarbeiter (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        人事行政
                      </div>
  
                      <div class="menubox__additional_col">
                        Mannheim, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/key-account-manager-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Key Account Manager (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/lehrerpaedagogetechnischer-trainer-vertrieb-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Lehrer/Pädagoge/Technischer Trainer Vertrieb (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/manager-produktkonfiguration-mwd-2/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Manager Produktkonfiguration (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        项目/设计
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/mechatroniker-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Mechatroniker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        生产
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/mitarbeiter-produktkonfiguration-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Mitarbeiter Produktkonfiguration (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        项目/设计
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/montage-und-servicetechniker-sps-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Montage- und Servicetechniker SPS (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/planer-mwd-spuelkuechen-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Planer (m/w/d) Spülküchen
                      </div>
  
                      <div class="menubox__additional_col">
                        项目/设计
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/product-manager-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Product Manager (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/produktmanager-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Produktmanager (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/projektleiter-im-produktmanagement-mwd-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Projektleiter im Produktmanagement (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/projeteur-charge-de-projets-bureau-detudes-hf-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Projeteur Chargé de Projets Bureau d'Etudes (h/f)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        , FR
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/responsable-projets-restauration-hf-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Responsable Projets Restauration (h/f)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        , FR
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/sachbearbeiter-kundenstamm-management-crm-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Sachbearbeiter Kundenstamm-Management / CRM (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/sachbearbeiter-service-innendienst-mwd-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Sachbearbeiter Service-Innendienst (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Stuttgart, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/sales-support-assistant-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Sales Support Assistant
                      </div>
  
                      <div class="menubox__additional_col">
                        人事行政
                      </div>
  
                      <div class="menubox__additional_col">
                        Rotterdam, NL
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/segmentmanager-im-bereich-produktmanagement-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Segmentmanager im Bereich Produktmanagement (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Offenburg, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/service-technician-4/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Service Technician
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Sint Niklaas, BE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/service-technician-5/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Service Technician
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Chatswood, AU
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-nordbayern-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Service-/Wartungstechniker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        , DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicemonteur-3/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicemonteur
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Amsterdam, NL
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-9/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Hannover, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mw-2/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker (m/w)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        , DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-10/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Großraum Heilbronn, Ludwigsburg, Stuttgart, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-8/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        , DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-15/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        , DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-16/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Großraum Nordbaden - Rhein Neckar Kreis, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-mwd-fuer-die-region-schwaben-oberbayern-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker (m/w/d) für die Region Schwaben &amp; Oberbayern
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        , DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-elektriker-mwd/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker / Elektriker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Gebiet Rhein-Main, Frankfurt, Darmstadt, Mainz/Wiesbaden, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-elektriker-mwd-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker / Elektriker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        Gebiet Leverkusen, Münster, Dortmund, Essen, Duisburg, Köln, Bonn, Koblenz, DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/servicetechniker-elektriker-mwd-2/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Servicetechniker / Elektriker (m/w/d)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        , DE
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/technicien-sav-itinerant-normandie-hf-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Technicien SAV Itinérant Normandie (h/f)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        , FR
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/technicien-sav-itinerant-sud-hf-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Technicien SAV Itinérant Sud (h/f)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        , FR
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/technicien-sav-lavage-professionnel-cdi-hf-1/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Technicien SAV Lavage Professionnel CDI (h/f)
                      </div>
  
                      <div class="menubox__additional_col">
                        售后服务
                      </div>
  
                      <div class="menubox__additional_col">
                        , FR
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
              <div class="menubox__wrapper">
  
                <a class="menubox menubox--4row menubox__link" href="https://www.MATE ELECTRCALchina.com/zh/our-company/career-jobs/experts-professionals/job12/verkaufspersoenlichkeit-mwd-vollzeit/">
                  <div class="menubox__contentwrapper">
                    <div class="row">
                      <div class="menubox__headline headline--h4">
                        Verkaufspersönlichkeit (m/w/d) - Vollzeit
                      </div>
  
                      <div class="menubox__additional_col">
                        销售
                      </div>
  
                      <div class="menubox__additional_col">
                        Basel, CH
                      </div>
  
  
                      <span class="menubox__fakelink">
                        <span class="link">
                          说明
                        </span>
                      </span>
  
                    </div>
                  </div>
                </a>
  
              </div>
  
            </div>
  
          </div>
  
          <!--TYPO3SEARCH_begin-->
  
          <script>
            jQuery(function() {
              jQuery('#c9261').multiselect();
            });
          </script>
        </div>
      </div>